/* fonts */
@font-face {
  font-family: 'HiraKakuPro';
  src: url("../fonts/HiraKakuPro-W3.otf") format("opentype");
  font-weight: normal;
  ont-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'KokoroMinchoutai';
  src: url("../fonts/KokoroMinchoutai.otf") format("opentype");
  font-weight: normal;
  ont-style: normal;
  font-stretch: normal; }

/* reset css */
* {
  -webkit-text-size-adjust: none; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

html {
  height: 100%;
  background: #fff;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent; }

body {
  min-height: 100%;
  font-family: "HiraKakuPro";
  position: relative;
  background: #fff;
  color: #59493F;
  font-size: 16px;
  line-height: 1.25; }

input,
textarea,
select {
  color: #59493F;
  vertical-align: middle;
  font: 100% "HiraKakuPro"; }

.form-control {
  -webkit-appearance: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  vertical-align: baseline;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.4);
  -webkit-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s; }

a:hover {
  text-decoration: none; }

a:hover img {
  -moz-opacity: 0.8;
  opacity: 0.8; }

table {
  border-collapse: collapse; }

*,
*:before,
*:after {
  box-sizing: border-box; }

/* styles */
#wrapper {
  position: relative;
  max-width: 100%;
  min-height: 100vh;
  overflow: hidden;
  padding-top: 100px; }
  @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
    #wrapper {
      padding-top: 115px; } }

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1080px;
  box-sizing: content-box; }
  .container:after {
    content: '';
    display: block;
    clear: both; }
  @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
    .container {
      padding: 0 10px; } }

.tel {
  pointer-events: none; }
  @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
    .tel {
      pointer-events: auto; } }

.row:after {
  content: '';
  display: block;
  clear: both; }

.mb {
  display: none; }

.pc {
  display: block; }

/* Tablet */
@media only screen and (max-width: 768px) {
  .mb {
    display: block !important; }
  .pc {
    display: none !important; } }

/* Smartphone */
@media only screen and (min-width: 768px) {
  .mb {
    display: none !important; }
  .pc {
    display: block !important; } }

.hidden {
  display: none !important; }

.bg {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%; }

/*typography*/
h1 {
  font-size: 30px;
  line-height: 1.25;
  font-family: "HiraKakuPro";
  font-weight: 700;
  color: #59493F;
  text-align: center;
  margin: 0; }

h2 {
  position: relative;
  font-size: 28px;
  line-height: 1.25;
  font-family: "KokoroMinchoutai";
  font-weight: 400;
  color: #59493F;
  text-align: left;
  margin: 0 0 18px; }
  @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
    h2 {
      font-size: 22px;
      margin-bottom: 18px; } }
  @media screen and (max-width: 320px) {
    h2 {
      font-size: 18px; } }
  h2 span {
    position: relative;
    display: inline-block;
    vertical-align: top; }
  h2 .ico {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    height: auto;
    margin: -6px 10px 0 0; }
    @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
      h2 .ico {
        margin: -6px 6px 0 0; } }
    h2 .ico img {
      display: block;
      max-width: 100%;
      max-height: 100%;
      opacity: 1; }

h3 {
  position: relative;
  font-size: 24px;
  line-height: 1.25;
  font-family: "KokoroMinchoutai";
  font-weight: 400;
  color: #59493F;
  text-align: left;
  margin: 0 0 15px; }
  @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
    h3 {
      font-size: 18px;
      margin-bottom: 10px; } }

h4 {
  font-size: 18px;
  line-height: 1.25;
  font-family: "HiraKakuPro";
  font-weight: 400;
  color: #59493F;
  text-align: left;
  margin: 0 0 25px; }

p {
  margin: 0 0 15px; }

/*end typography*/
.row {
  position: relative;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }

.row > .col {
  position: relative;
  width: 50%; }
  @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
    .row > .col {
      width: 100%; } }

.row > .col.left {
  float: left;
  padding-right: 15px; }
  @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
    .row > .col.left {
      float: none;
      padding: 0 0 15px; } }

.row > .col.right {
  float: right;
  padding-left: 15px; }
  @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
    .row > .col.right {
      float: none;
      padding: 15px 0 0; } }

/* styles end */
/* buttons */
.btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  border: 1px solid transparent;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  line-height: 24px;
  font-family: "KokoroMinchoutai";
  padding: 15px 15px 19px;
  color: #fff;
  width: 100%;
  max-width: 250px;
  cursor: pointer;
  transition: all .4s ease-out; }
  .btn.active:focus, .btn.active:hover, .btn:focus, .btn:active, .btn:hover {
    box-shadow: none;
    outline: none; }
  @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
    .btn {
      font-size: 18px;
      line-height: 22px; } }

.btn-default {
  background: #59493F;
  border: 1px solid #59493F;
  color: #fff;
  padding: 15px 30px 19px 15px; }
  @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
    .btn-default {
      padding: 6px 30px 10px 15px; } }
  .btn-default:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    width: 12px;
    height: 12px;
    margin: auto;
    border-color: #fff;
    transform: translate(0, -50%) rotate(135deg);
    transition: all .4s ease-out; }
  .btn-default.active:focus, .btn-default.active:hover, .btn-default:focus, .btn-default:active, .btn-default:hover {
    background: #5f3921;
    background: #fff;
    border: 1px solid #1d1612;
    color: #59493F;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); }
    .btn-default.active:focus:after, .btn-default.active:hover:after, .btn-default:focus:after, .btn-default:active:after, .btn-default:hover:after {
      border-color: #59493F;
      transform: translate(-2px, -50%) rotate(135deg); }

/*end btn*/
/* layout parts */
#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  text-align: center;
  color: #59493F;
  z-index: 200;
  height: 100px;
  background: #fff; }
  @media screen and (max-width: 991px) {
    #header {
      font-size: 12px; } }
  @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
    #header {
      height: 115px; } }
  #header.scrolled .logo {
    width: 430px;
    height: 68px;
    background: url(../images/logo_sp.png) no-repeat 50% 50%;
    background-size: 100% auto; }
    @media screen and (max-width: 991px) {
      #header.scrolled .logo {
        width: 370px;
        height: 66px; } }
    @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
      #header.scrolled .logo {
        background: url("../images/logo_sp.png") no-repeat 50% 50%;
        background-size: 100% auto;
        width: 342px;
        height: 40px; } }
    @media screen and (max-width: 320px) {
      #header.scrolled .logo {
        width: 300px;
        height: 35px; } }
  #header .logo {
    float: left;
    width: 301px;
    height: 136px;
    background: url("../images/logo.png") no-repeat 50% 50%;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    overflow: hidden;
    text-indent: -9999px; }
    @media screen and (max-width: 991px) {
      #header .logo {
        width: 270px;
        height: 124px; } }
    @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
      #header .logo {
        background: url("../images/logo_sp.png") no-repeat 50% 50%;
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
        width: 342px;
        height: 40px; } }
    @media screen and (max-width: 320px) {
      #header .logo {
        width: 300px;
        height: 35px; } }
    #header .logo a {
      display: block;
      min-height: 100%; }
  #header .logotype {
    float: left; }
    #header .logotype:after {
      content: '';
      display: block;
      clear: both; }
    #header .logotype span {
      display: block;
      text-align: left;
      line-height: 32px;
      width: 100%; }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        #header .logotype span {
          font-size: 10px;
          line-height: 16px;
          margin: 10px 0 20px -4px; } }
      @media screen and (max-width: 320px) {
        #header .logotype span {
          font-size: 10px;
          max-width: 135px;
          margin: 10px 0 8px -4px; } }
  #header .holder {
    overflow: hidden; }
    @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
      #header .holder {
        position: absolute;
        top: 0;
        right: 52px; } }
    #header .holder .sub-links {
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 0;
      line-height: 0;
      text-align: right; }
      #header .holder .sub-links li {
        display: inline-block;
        vertical-align: top;
        width: 235px;
        height: 58px;
        padding: 0 5px 10px;
        text-align: left; }
        @media screen and (max-width: 991px) {
          #header .holder .sub-links li {
            width: 160px;
            height: 44px;
            padding: 0 2px 10px; } }
        @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
          #header .holder .sub-links li {
            width: auto;
            height: auto;
            padding: 0 2px; } }
    #header .holder .access {
      position: relative;
      display: block;
      height: 100%;
      font-size: 18px;
      line-height: 36px;
      text-align: center;
      color: #fff;
      font-family: "KokoroMinchoutai";
      z-index: 0; }
      @media screen and (max-width: 991px) {
        #header .holder .access {
          font-size: 16px;
          line-height: 25px; } }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        #header .holder .access {
          width: 50px;
          height: 50px;
          background: #4fa655 url(../images/ico-man_sp.png) 50% 50% no-repeat;
          background-size: 26px auto;
          font-size: 0;
          line-height: 0; } }
      #header .holder .access:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url(../images/img-access-bg.png) no-repeat;
        background-size: 100% auto;
        z-index: -1;
        display: block; }
        @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
          #header .holder .access:before {
            display: none; } }
      #header .holder .access:after {
        content: "";
        position: absolute;
        top: 3px;
        left: 3px;
        right: 3px;
        bottom: 3px;
        border: 1px dashed #fff;
        display: none; }
        @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
          #header .holder .access:after {
            display: block; } }
      #header .holder .access .ico {
        display: inline-block;
        vertical-align: middle;
        width: 15px;
        height: 21px;
        margin: -4px 8px 0 0; }
        @media screen and (max-width: 991px) {
          #header .holder .access .ico {
            width: 12px;
            height: 17px; } }
        @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
          #header .holder .access .ico {
            display: none; } }
        #header .holder .access .ico img {
          display: block;
          max-width: 100%;
          max-height: 100%;
          opacity: 1; }
    #header .holder .tel {
      position: relative;
      display: block;
      height: 100%;
      font-size: 26px;
      line-height: 34px;
      text-align: center;
      color: #fff;
      font-family: "KokoroMinchoutai";
      z-index: 0; }
      @media screen and (max-width: 991px) {
        #header .holder .tel {
          font-size: 17px;
          line-height: 26px; } }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        #header .holder .tel {
          width: 50px;
          height: 50px;
          background: #4fa655 url(../images/ico-header-tel_sp.png) 50% 50% no-repeat;
          background-size: 32px auto;
          font-size: 0;
          line-height: 0; } }
      #header .holder .tel:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url(../images/img-telephone-bg.png) no-repeat;
        background-size: 100% auto;
        z-index: -1;
        display: block; }
        @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
          #header .holder .tel:before {
            display: none; } }
      #header .holder .tel:after {
        content: "";
        position: absolute;
        top: 3px;
        left: 3px;
        right: 3px;
        bottom: 3px;
        border: 1px dashed #fff;
        display: none; }
        @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
          #header .holder .tel:after {
            display: block; } }
      #header .holder .tel .ico {
        display: inline-block;
        vertical-align: middle;
        width: 16px;
        height: 20px;
        margin: -6px 5px 0 0; }
        @media screen and (max-width: 991px) {
          #header .holder .tel .ico {
            width: 13px;
            height: 16px;
            margin-top: -4px; } }
        @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
          #header .holder .tel .ico {
            display: none; } }
        #header .holder .tel .ico img {
          display: block;
          max-width: 100%;
          max-height: 100%;
          opacity: 1; }

.open-menu {
  position: relative;
  font-size: 0;
  line-height: 0;
  width: 50px;
  height: 50px;
  padding: 10px;
  background: #4fa655;
  display: none; }
  .open-menu:after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    border: 1px dashed #fff; }
  @media screen and (max-width: 991px) {
    .open-menu {
      display: block;
      position: absolute;
      top: 42px;
      right: 18px;
      margin: 0; } }
  @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
    .open-menu {
      top: 0;
      right: 0; } }
  .open-menu span {
    display: block;
    border: solid transparent;
    border-width: 0;
    height: 4px;
    position: relative;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background: #efedeb;
    background-clip: padding-box;
    border-radius: 4px;
    margin-top: 13px; }
    .open-menu span:before, .open-menu span:after {
      position: absolute;
      left: 0;
      right: 0;
      content: '';
      top: -9px;
      height: 4px;
      background: #efedeb;
      -webkit-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out;
      border-radius: 4px; }
    .open-menu span:after {
      top: 9px; }

.menu-opened .open-menu {
  z-index: 150; }

.menu-opened .open-menu span {
  background: transparent; }

.menu-opened .open-menu span:before {
  top: 0;
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg); }

.menu-opened .open-menu span:after {
  top: 0;
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg); }

body.menu-opened {
  overflow: hidden; }

.menu-opened .main-nav {
  transform: translate(0, 0); }

.fader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  z-index: 100;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
  visibility: hidden;
  cursor: pointer; }

.menu-opened .fader {
  opacity: 1;
  visibility: visible; }

/* main-nav */
.main-nav {
  position: relative;
  display: block;
  overflow: hidden; }
  @media screen and (max-width: 991px) {
    .main-nav {
      position: fixed;
      top: 100px;
      left: 0;
      right: 0;
      bottom: auto;
      padding: 0 10px;
      margin: 0;
      z-index: 100;
      background: rgba(255, 255, 255, 0.9);
      -webkit-transition: all .5s ease-in-out;
      -o-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
      overflow: hidden;
      overflow-y: auto;
      transform: translate(100%, 0); } }
  @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
    .main-nav {
      top: 50px; } }
  @media screen and (orientation: landscape) and (max-width: 700px) {
    .main-nav {
      height: calc(100% - 50px); } }
  .main-nav .nav {
    position: relative;
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0;
    line-height: 0;
    text-align: center; }
    @media screen and (max-width: 991px) {
      .main-nav .nav {
        float: none; } }
    .main-nav .nav > li {
      position: relative;
      display: inline-block;
      vertical-align: top;
      font-size: 16px;
      line-height: 20px;
      font-family: "KokoroMinchoutai";
      font-weight: normal;
      text-align: center; }
      @media screen and (max-width: 991px) {
        .main-nav .nav > li {
          display: block; } }
      .main-nav .nav > li:first-child:before, .main-nav .nav > li:first-child:after {
        display: none; }
      @media screen and (max-width: 991px) {
        .main-nav .nav > li:last-child a:before {
          display: none; } }
      .main-nav .nav > li:before {
        content: "";
        position: absolute;
        top: 10px;
        left: 0;
        width: 1px;
        height: 5px;
        background: #d8cfc1; }
        @media screen and (max-width: 991px) {
          .main-nav .nav > li:before {
            display: none; } }
      .main-nav .nav > li:after {
        content: "";
        position: absolute;
        bottom: 6px;
        left: 0;
        width: 1px;
        height: 5px;
        background: #d8cfc1; }
        @media screen and (max-width: 991px) {
          .main-nav .nav > li:after {
            display: none; } }
      .main-nav .nav > li.active a:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1); }
      @media screen and (max-width: 991px) {
        .main-nav .nav > li.active a {
          background: #fff; } }
      .main-nav .nav > li a {
        position: relative;
        display: block;
        padding: 6px 16px;
        color: #59493F;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
        @media screen and (max-width: 991px) {
          .main-nav .nav > li a {
            padding: 25px 20px; } }
        .main-nav .nav > li a:before {
          content: "";
          position: absolute;
          height: 2px;
          bottom: 0;
          left: 5px;
          right: 5px;
          background: #59493F;
          visibility: hidden;
          -webkit-transition: all 0.5s ease-in-out 0s;
          transition: all 0.5s ease-in-out 0s;
          -webkit-transform: scaleX(0);
          transform: scaleX(0); }
          @media screen and (max-width: 991px) {
            .main-nav .nav > li a:before {
              height: 1px;
              left: 0;
              right: 0;
              background: #b7b1ae;
              visibility: visible;
              -webkit-transform: scaleX(1);
              transform: scaleX(1); } }
        .main-nav .nav > li a:after {
          content: "";
          position: absolute;
          top: 50%;
          right: 5px;
          transform: translate(0, -50%);
          border: 8px solid transparent;
          border-left: 10px solid #59493F;
          border-right: 0;
          display: none; }
          @media screen and (max-width: 991px) {
            .main-nav .nav > li a:after {
              display: block; } }
        .main-nav .nav > li a:hover:before {
          visibility: visible;
          -webkit-transform: scaleX(1);
          transform: scaleX(1); }
        @media screen and (max-width: 991px) {
          .main-nav .nav > li a:hover {
            background: #fff; } }

/* footer */
#footer {
  position: relative;
  font-size: 12px;
  line-height: 20px;
  font-weight: normal;
  padding: 45px 0 15px;
  background: url(../images/img-footer-bg.jpg) 50% 50% no-repeat;
  background-size: cover; }
  @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
    #footer {
      padding: 40px 0 15px; } }
  #footer .row {
    margin-bottom: 45px; }
    @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
      #footer .row {
        margin-bottom: 30px; } }
    #footer .row .col strong {
      display: block;
      font-size: 36px;
      line-height: 40px;
      font-family: "KokoroMinchoutai";
      margin-bottom: 28px; }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        #footer .row .col strong {
          font-size: 30px;
          line-height: 34px;
          margin-bottom: 10px; } }
    #footer .row .col .address {
      display: block;
      font-style: normal;
      font-size: 16px;
      line-height: 22px; }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        #footer .row .col .address {
          font-size: 14px;
          line-height: 20px; } }
      #footer .row .col .address dl {
        overflow: hidden;
        font-size: 14px;
        line-height: 22px;
        margin: 10px 0; }
        @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
          #footer .row .col .address dl {
            font-size: 12px;
            line-height: 20px;
            margin: 8px 0; } }
        #footer .row .col .address dl dt {
          float: left;
          width: 100%;
          max-width: 110px;
          margin-right: 10px; }
          @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
            #footer .row .col .address dl dt {
              float: none;
              display: block;
              max-width: 100%;
              margin: 0; } }
          #footer .row .col .address dl dt .ico {
            display: inline-block;
            vertical-align: middle;
            width: 15px;
            height: 21px;
            margin: -4px 5px 0 0; }
            @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
              #footer .row .col .address dl dt .ico {
                width: 12px;
                height: 17px; } }
            #footer .row .col .address dl dt .ico img {
              display: block;
              max-width: 100%;
              max-height: 100%;
              opacity: 1; }
        #footer .row .col .address dl dd {
          overflow: hidden; }
  #footer .copy {
    text-align: center;
    margin: 0; }
  #footer .tel {
    display: inline-block;
    vertical-align: top;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #59493F;
    font-family: "KokoroMinchoutai"; }
    #footer .tel .ico {
      display: inline-block;
      vertical-align: middle;
      width: 21px;
      height: 27px;
      margin: -6px 5px 0 0; }
      #footer .tel .ico img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        opacity: 1; }

.address {
  display: block;
  font-style: normal;
  font-size: 16px;
  line-height: 22px; }
  @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
    .address {
      font-size: 14px;
      line-height: 20px; } }
  .address dl {
    overflow: hidden;
    font-size: 14px;
    line-height: 22px;
    margin: 10px 0; }
    @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
      .address dl {
        font-size: 12px;
        line-height: 20px; } }
    .address dl dt {
      float: left;
      width: 100%;
      max-width: 110px;
      margin-right: 10px; }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        .address dl dt {
          float: none;
          max-width: 100%;
          margin: 0; } }
      .address dl dt .ico {
        display: inline-block;
        vertical-align: middle;
        width: 15px;
        height: 21px;
        margin: -4px 5px 0 0; }
        @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
          .address dl dt .ico {
            width: 12px;
            height: 17px; } }
        .address dl dt .ico img {
          display: block;
          max-width: 100%;
          max-height: 100%;
          opacity: 1; }
    .address dl dd {
      overflow: hidden; }

@media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
  .working-hours {
    font-size: 12px;
    line-height: 16px; } }

.working-hours > h2 .ico {
  width: 23px;
  height: 23px;
  margin: -6px 12px 0 0; }
  @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
    .working-hours > h2 .ico {
      width: 21px;
      height: 21px;
      margin: -6px 8px 0 0; } }

.working-hours h3 .ico {
  display: inline-block;
  vertical-align: middle;
  width: 19px;
  height: 19px;
  margin: -4px 12px 0 0; }
  @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
    .working-hours h3 .ico {
      width: 17px;
      height: 17px; } }
  .working-hours h3 .ico img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    opacity: 1; }

.working-hours table {
  width: 100%;
  max-width: 500px;
  background: #fff;
  margin-bottom: 10px; }
  @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
    .working-hours table {
      max-width: 100%; } }
  .working-hours table thead th {
    width: 60px;
    background: #efefe4; }
    @media screen and (max-width: 991px) {
      .working-hours table thead th {
        width: 42px; } }
    @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
      .working-hours table thead th {
        width: 12%; } }
    .working-hours table thead th:first-child {
      width: auto; }
    .working-hours table thead th.saturday {
      background: #dce9f0;
      color: #5a687e; }
    .working-hours table thead th.sunday {
      background: #f0e2e3;
      color: #7e5a61; }
  .working-hours table tr {
    height: 60px;
    font-size: 14px;
    line-height: 1;
    color: #7e6b5a;
    text-align: center; }
    @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
      .working-hours table tr {
        height: 40px;
        font-size: 12px; } }
  .working-hours table th {
    position: relative;
    border: 1px solid #bab8b6;
    vertical-align: middle;
    padding: 5px; }
  .working-hours table td {
    position: relative;
    border: 1px solid #bab8b6;
    vertical-align: middle;
    padding: 5px; }
    .working-hours table td.working:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 2px solid #ab8d66; }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        .working-hours table td.working:after {
          width: 12px;
          height: 12px; } }
    .working-hours table td.off:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(135deg);
      width: 13px;
      height: 2px;
      background: #7f7f7f; }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        .working-hours table td.off:before {
          width: 10px; } }
    .working-hours table td.off:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-135deg);
      width: 13px;
      height: 2px;
      background: #7f7f7f; }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        .working-hours table td.off:after {
          width: 10px; } }

/* components */
.visual-top {
  position: relative;
  padding-top: 35%;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat; }
  @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
    .visual-top {
      padding-top: 94%; } }
  .visual-top > .container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%; }
  .visual-top strong {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    padding: 0 15px;
    transform: translate(-50%, -50%);
    font-size: 36px;
    line-height: 58px;
    font-family: "KokoroMinchoutai";
    color: #fff;
    text-align: left;
    text-shadow: -1px -1px 0 #a56934, 1px -1px 0 #a56934, -1px 1px 0 #a56934, 1px 1px 0 #a56934, 0 0 25px #000; }
    @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
      .visual-top strong {
        font-size: 24px;
        line-height: 40px;
        text-align: left;
        text-shadow: 0 0 25px #000; } }

.visual {
  position: relative;
  padding-top: 18%;
  background-position: 50% 50%; }
  @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
    .visual {
      padding-top: 0;
      height: 160px; } }
  .visual strong {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    padding: 0 15px;
    transform: translate(-50%, -50%);
    font-size: 40px;
    line-height: 58px;
    font-family: "KokoroMinchoutai";
    color: #fff;
    text-align: center;
    text-shadow: -1px -1px 0 #a56934, 1px -1px 0 #a56934, -1px 1px 0 #a56934, 1px 1px 0 #a56934, 0 0 25px #000; }
    @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
      .visual strong {
        font-size: 24px;
        line-height: 40px;
        text-shadow: 0 0 25px #000; } }

.notice {
  background: #fafaf7;
  padding: 60px 0; }
  @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
    .notice {
      padding: 40px 0; } }
  .notice .holder-info {
    padding: 0 55px; }
    @media screen and (max-width: 991px) {
      .notice .holder-info {
        padding: 0; } }
  @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
    .notice h2 {
      text-align: center; } }
  .notice h2 span {
    position: relative;
    display: inline-block;
    vertical-align: top; }
    .notice h2 span:after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      right: 0;
      height: 1px;
      background: #313131; }
  .notice h2 .ico {
    width: 35px;
    height: 40px;
    margin: -4px 10px 0 0; }
    @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
      .notice h2 .ico {
        width: 26px;
        height: 29px; } }
  .notice .notice-content {
    position: relative;
    height: 230px;
    margin: 15px 0; }
    @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
      .notice .notice-content {
        height: 300px; } }
  .notice .notice-list {
    margin: 0;
    padding: 0;
    list-style: none; }
    .notice .notice-list li {
      display: block;
      font-size: 16px;
      line-height: 25px;
      padding: 17px 15px;
      border-bottom: 1px dashed #cfcab9; }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        .notice .notice-list li {
          font-size: 12px;
          line-height: 20px;
          padding: 10px 5px; } }
    .notice .notice-list .date {
      float: left;
      margin-right: 30px;
      max-width: 115px;
      width: 100%; }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        .notice .notice-list .date {
          float: none;
          max-width: 100%;
          margin: 0 0 5px; } }
    .notice .notice-list p {
      overflow: hidden;
      margin: 0; }

.mCSB_scrollTools {
  width: 10px; }

.mCSB_scrollTools .mCSB_draggerRail {
  width: 10px;
  background-color: #f0f0ee;
  background-color: #f0f0ee; }

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 10px;
  background-color: #d6d3cc;
  background-color: rgba(214, 211, 204, 0.9); }

.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #d6d3cc;
  background-color: rgba(214, 211, 204, 0.95); }

.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: #d6d3cc;
  background-color: #d6d3cc; }

.contact-us {
  padding: 60px 0; }
  @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
    .contact-us {
      padding: 35px 0; } }
  .contact-us .row {
    padding: 0 35px;
    flex-flow: row nowrap; }
    @media screen and (max-width: 991px) {
      .contact-us .row {
        padding: 0; } }
    @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
      .contact-us .row {
        flex-flow: row wrap; } }
  .contact-us .access-block {
    padding: 0 15px; }
    @media screen and (max-width: 991px) {
      .contact-us .access-block {
        padding: 0 10px; } }
    @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
      .contact-us .access-block {
        padding: 30px 0 0;
        margin-top: 30px;
        border-top: 1px dashed #cfcab9; } }
    .contact-us .access-block .holder h2 .ico {
      width: 19px;
      height: 30px; }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        .contact-us .access-block .holder h2 .ico {
          width: 15px;
          height: 22px; } }
    .contact-us .access-block .map {
      display: block;
      width: 100%;
      height: 200px;
      margin-bottom: 10px; }
    .contact-us .access-block .holder {
      padding-bottom: 15px;
      border-bottom: 1px dashed #cfcab9; }
  .contact-us .working-hours {
    padding-top: 15px; }
    .contact-us .working-hours table {
      max-width: 100%; }
      .contact-us .working-hours table thead th {
        width: 10%; }
        .contact-us .working-hours table thead th:first-child {
          width: 13%; }

.facebook-block {
  padding: 0 15px;
  min-width: 380px;
  width: 380px;
  max-width: 380px;
  box-sizing: content-box;
  margin: 0 auto; }
  @media screen and (max-width: 991px) {
    .facebook-block {
      padding: 0 10px; } }
  @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
    .facebook-block {
      min-width: 100%;
      width: 100%;
      max-width: 100%;
      padding: 0; } }
  .facebook-block h2 .ico {
    width: 35px;
    height: 36px;
    margin: -8px 10px 0 0; }
    @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
      .facebook-block h2 .ico {
        width: 23px;
        height: 24px;
        margin: -4px 6px 0 0; } }
  .facebook-block iframe {
    display: block;
    width: 340px;
    height: 500px;
    margin: 0 auto; }

.about-us {
  background: #f1f7ed;
  padding: 60px 0; }
  @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
    .about-us {
      padding: 0; } }
  .about-us .row {
    padding: 0 60px; }
    @media screen and (max-width: 991px) {
      .about-us .row {
        padding: 0; } }
    @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
      .about-us .row {
        padding: 0 6px;
        flex-flow: row wrap;
        display: block; } }
  .about-us .col.left {
    padding-right: 50px; }
    @media screen and (max-width: 991px) {
      .about-us .col.left {
        padding-right: 25px; } }
    @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
      .about-us .col.left {
        padding: 40px 0; } }
    @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
      .about-us .col.left h2 {
        text-align: center; } }
    .about-us .col.left h2 span:after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      right: 0;
      height: 1px;
      background: #313131; }
    .about-us .col.left h2 .ico {
      width: 32px;
      height: 31px;
      margin: -2px 8px 0 0; }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        .about-us .col.left h2 .ico {
          width: 27px;
          height: 26px; } }
  .about-us .col.right {
    padding-left: 50px; }
    @media screen and (max-width: 991px) {
      .about-us .col.right {
        padding-left: 25px; } }
    @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
      .about-us .col.right {
        padding: 40px 16px;
        background: #e3efdb;
        margin: 0 -16px;
        width: auto;
        display: block; } }
    @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
      .about-us .col.right h2 {
        text-align: center; } }
    .about-us .col.right h2 span:after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      right: 0;
      height: 1px;
      background: #313131; }
    .about-us .col.right h2 .ico {
      width: 32px;
      height: 36px;
      margin: -6px 8px 0 0; }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        .about-us .col.right h2 .ico {
          width: 27px;
          height: 31px; } }
  .about-us ul {
    margin: 0 -15px;
    padding: 0;
    list-style: none; }
    .about-us ul:after {
      content: '';
      display: block;
      clear: both; }
    @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
      .about-us ul {
        margin: 0; } }
    .about-us ul li {
      position: relative;
      float: left;
      width: 50%;
      padding: 15px; }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        .about-us ul li {
          padding: 10px; } }
    .about-us ul .image {
      display: block;
      height: 150px;
      background-color: #000;
      box-shadow: inset 0 0 0 4px #fff, 0 0 5px 2px #b0b0b0; }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        .about-us ul .image {
          height: 110px;
          box-shadow: inset 0 0 0 2px #fff, 0 0 5px 2px #b0b0b0; } }
    .about-us ul .descr {
      position: absolute;
      bottom: -2px;
      right: 5px;
      width: 85px;
      height: 88px;
      background: url(../images/img-about-us-bg.png) no-repeat;
      font-size: 20px;
      line-height: 22px;
      color: #fff;
      text-align: center;
      font-family: "KokoroMinchoutai";
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column; }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        .about-us ul .descr {
          width: 63px;
          height: 66px;
          background-size: 100% auto;
          font-size: 14px;
          line-height: 18px; } }
      .about-us ul .descr small {
        font-size: 12px;
        line-height: 14px; }
        @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
          .about-us ul .descr small {
            font-size: 9px;
            line-height: 12px; } }

.voice-block {
  padding: 70px 0; }
  @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
    .voice-block {
      padding: 40px 0; } }
  .voice-block .holder-info {
    padding: 0 55px;
    overflow: hidden; }
    @media screen and (max-width: 991px) {
      .voice-block .holder-info {
        padding: 0; } }
    @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
      .voice-block .holder-info {
        font-size: 14px;
        line-height: 20px; } }
  @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
    .voice-block .btn-default {
      display: block;
      margin: 0 auto; } }
  @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
    .voice-block h2 {
      text-align: center; } }
  .voice-block h2 span:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 1px;
    background: #313131; }
  .voice-block h2 .ico {
    width: 43px;
    height: 32px;
    margin: -6px 8px 0 0; }
    @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
      .voice-block h2 .ico {
        width: 30px;
        height: 22px;
        margin: -4px 4px 0 0; } }
  .voice-block .holder {
    float: left;
    margin: 25px 22px 0 0; }
    @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
      .voice-block .holder {
        float: none;
        margin: 0 0 25px; } }
    @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
      .voice-block .holder p {
        text-align: center; } }
  .voice-block .voice-content {
    position: relative;
    overflow: hidden;
    border: 1px solid #d7d5d5;
    padding: 10px;
    height: 260px;
    margin: 0; }
  .voice-block .voice-list {
    margin: 0;
    padding: 0;
    list-style: none; }
    .voice-block .voice-list > li {
      display: block;
      font-size: 16px;
      line-height: 25px;
      padding: 17px 15px;
      border-bottom: 1px dashed #cfcab9; }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        .voice-block .voice-list > li {
          font-size: 12px;
          line-height: 20px;
          padding: 10px 0; } }
    .voice-block .voice-list .head {
      overflow: hidden; }
      .voice-block .voice-list .head > span {
        float: left;
        margin-right: 5px; }
    .voice-block .voice-list .date {
      float: left;
      margin-right: 5px; }
    .voice-block .voice-list p {
      margin: 0; }

.rating-list {
  float: left;
  margin: 0;
  padding: 4px 0;
  list-style: none;
  overflow: hidden; }
  @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
    .rating-list {
      padding: 3px 0; } }
  .rating-list li {
    float: left;
    width: 15px;
    height: 15px;
    text-indent: -9999px; }
    @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
      .rating-list li {
        width: 12px;
        height: 12px; } }
    .rating-list li + li {
      margin-left: 2px; }
  .rating-list .check {
    background: url(../images/rating.png) no-repeat;
    background-size: 100% auto;
    background-position: 0 -30px; }
    @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
      .rating-list .check {
        background-position: 0 -24px; } }
  .rating-list .not-check {
    background: url(../images/rating.png) no-repeat;
    background-size: 100% auto;
    background-position: 0 0; }

.studio-block {
  padding: 65px 0;
  background: #eef5f7; }
  @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
    .studio-block {
      padding: 40px 0; } }
  .studio-block .holder-info {
    padding: 0 55px;
    overflow: hidden; }
    @media screen and (max-width: 991px) {
      .studio-block .holder-info {
        padding: 0; } }
    @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
      .studio-block .holder-info {
        font-size: 14px;
        line-height: 20px; } }
    @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
      .studio-block .holder-info > p {
        text-align: center; } }
  .studio-block h2 {
    text-align: center; }
    .studio-block h2 span:after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      right: 0;
      height: 1px;
      background: #313131; }
    .studio-block h2 .ico {
      width: 37px;
      height: 36px;
      margin: -2px 6px 0 0; }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        .studio-block h2 .ico {
          width: 32px;
          height: 31px; } }
  .studio-block .title-text {
    text-align: center; }
  .studio-block .btn-default {
    display: block;
    margin: 0 auto; }
  .studio-block .studio-list {
    margin: 30px -15px 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    line-height: 0; }
    @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
      .studio-block .studio-list {
        margin: 15px 0 0; } }
    .studio-block .studio-list li {
      display: inline-block;
      vertical-align: top;
      width: 25%;
      padding: 15px; }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        .studio-block .studio-list li {
          padding: 10px;
          width: 50%; } }
      .studio-block .studio-list li .img {
        width: 100%;
        height: 165px;
        background-color: #b0b0b0;
        box-shadow: 0 0 5px 2px #b0b0b0; }
        @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
          .studio-block .studio-list li .img {
            height: 110px; } }

.about .greetings {
  padding: 80px 0;
  background: #fafaf7; }
  @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
    .about .greetings {
      padding: 40px 0; } }
  .about .greetings h2 {
    color: #313131;
    text-align: center;
    margin: 0 0 40px; }
    @media screen and (max-width: 991px) {
      .about .greetings h2 {
        margin: 0 0 25px; } }
    .about .greetings h2 span:after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      right: 0;
      height: 1px;
      background: #313131; }
    .about .greetings h2 .ico {
      width: 29px;
      height: 38px;
      margin: -8px 8px 0 0; }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        .about .greetings h2 .ico {
          width: 24px;
          height: 33px; } }
  .about .greetings .row {
    display: block;
    padding: 0 50px; }
    @media screen and (max-width: 991px) {
      .about .greetings .row {
        padding: 0; } }
    .about .greetings .row .img {
      float: right;
      max-width: 400px;
      margin-left: 60px; }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        .about .greetings .row .img {
          margin: 0 0 20px;
          float: none;
          max-width: 100%; } }
      .about .greetings .row .img img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto; }
    .about .greetings .row .descr {
      overflow: hidden;
      font-size: 16px;
      line-height: 28px;
      color: #332d2a;
      font-weight: normal; }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        .about .greetings .row .descr {
          font-size: 14px;
          line-height: 22px; } }
      .about .greetings .row .descr ul {
        margin: 0 0 40px;
        padding: 0;
        list-style: none; }
        @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
          .about .greetings .row .descr ul {
            margin: 0 0 20px; } }
        .about .greetings .row .descr ul li + li {
          margin-top: 20px; }
          @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
            .about .greetings .row .descr ul li + li {
              margin-top: 8px; } }
        .about .greetings .row .descr ul strong {
          font-size: 18px;
          font-weight: normal; }
          @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
            .about .greetings .row .descr ul strong {
              font-size: 16px; } }
          .about .greetings .row .descr ul strong span {
            font-size: 24px; }
            @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
              .about .greetings .row .descr ul strong span {
                font-size: 20px; } }
      .about .greetings .row .descr h2 {
        text-align: left;
        margin-bottom: 30px; }
        @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
          .about .greetings .row .descr h2 {
            margin-bottom: 16px; } }
      .about .greetings .row .descr > span {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 20px;
        padding: 5px;
        border: 1px solid #cdcdbb;
        background-color: #fff; }
      .about .greetings .row .descr .title {
        display: block;
        font-weight: normal;
        border-bottom: 2px solid #e9e9cf;
        margin-bottom: 20px; }
        @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
          .about .greetings .row .descr .title {
            margin-bottom: 15px;
            border-width: 1px; } }
      .about .greetings .row .descr p {
        margin-bottom: 10px; }

.about .holder-info {
  padding: 0 50px;
  margin-bottom: 55px; }
  @media screen and (max-width: 991px) {
    .about .holder-info {
      padding: 0;
      margin-bottom: 25px; } }
  .about .holder-info h2 {
    color: #313131;
    text-align: center;
    margin: 0 0 40px; }
    @media screen and (max-width: 991px) {
      .about .holder-info h2 {
        margin: 0 0 25px; } }
    .about .holder-info h2 span:after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      right: 0;
      height: 1px;
      background: #313131; }
    .about .holder-info h2 .ico {
      width: 27px;
      height: 24px;
      margin: -4px 8px 0 0; }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        .about .holder-info h2 .ico {
          width: 22px;
          height: 19px; } }

.about .access-block {
  padding: 0 50px; }
  @media screen and (max-width: 991px) {
    .about .access-block {
      padding: 0;
      margin-top: 0;
      border: 0; } }
  .about .access-block .map {
    height: 400px; }
    @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
      .about .access-block .map {
        height: 250px; } }

.about .equipment-info {
  padding: 60px 0;
  background: #f1f7ed; }
  @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
    .about .equipment-info {
      padding: 30px 0; } }
  .about .equipment-info h2 {
    color: #313131;
    text-align: center;
    margin: 0 0 40px; }
    @media screen and (max-width: 991px) {
      .about .equipment-info h2 {
        margin: 0 0 25px; } }
    .about .equipment-info h2 span:after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      right: 0;
      height: 1px;
      background: #313131; }
    .about .equipment-info h2 .ico {
      width: 31px;
      height: 27px;
      margin: -6px 8px 0 0; }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        .about .equipment-info h2 .ico {
          width: 26px;
          height: 22px; } }
  .about .equipment-info .info-list {
    margin: 0;
    padding: 0 25px;
    list-style: none; }
    @media screen and (max-width: 991px) {
      .about .equipment-info .info-list {
        padding: 0;
        margin: 0 -25px; } }
    @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
      .about .equipment-info .info-list {
        margin: 0 -10px; } }
    .about .equipment-info .info-list li {
      position: relative;
      float: left;
      width: 33.333333%;
      padding: 10px 25px; }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        .about .equipment-info .info-list li {
          width: 50%;
          padding: 8px 10px; } }
    .about .equipment-info .info-list .img {
      display: block;
      height: 210px;
      background-color: #000;
      box-shadow: inset 0 0 0 4px #fff, 0 0 5px 2px #b0b0b0;
      margin-bottom: 15px; }
      @media screen and (max-width: 991px) {
        .about .equipment-info .info-list .img {
          height: 180px; } }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        .about .equipment-info .info-list .img {
          margin-bottom: 6px;
          height: 145px; } }
    .about .equipment-info .info-list span {
      display: block;
      font-size: 16px;
      line-height: 28px;
      color: #332d2a;
      font-weight: normal;
      text-align: center; }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        .about .equipment-info .info-list span {
          font-size: 14px;
          line-height: 22px; } }

.menu {
  color: #313131; }
  .menu .treatment-policy {
    padding: 60px 0;
    background: #fafaf7; }
    @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
      .menu .treatment-policy {
        padding: 30px 0; } }
    .menu .treatment-policy h2 {
      color: #313131;
      text-align: center;
      margin: 0 0 40px; }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        .menu .treatment-policy h2 {
          margin: 0 0 25px; } }
      .menu .treatment-policy h2 span:after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        right: 0;
        height: 1px;
        background: #313131; }
      .menu .treatment-policy h2 .ico {
        width: 29px;
        height: 33px;
        margin: -8px 8px 0 0; }
        @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
          .menu .treatment-policy h2 .ico {
            width: 24px;
            height: 28px; } }
    .menu .treatment-policy .effect-list li {
      width: 50%;
      max-width: 400px; }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        .menu .treatment-policy .effect-list li {
          width: 100%; } }
    .menu .treatment-policy strong {
      display: block;
      font-size: 36px;
      line-height: 40px;
      font-weight: normal;
      text-align: center;
      margin-bottom: 40px; }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        .menu .treatment-policy strong {
          font-size: 20px;
          line-height: 32px;
          margin-bottom: 20px; } }
    .menu .treatment-policy .img img {
      display: block;
      max-width: 100%;
      max-height: 100%;
      margin: 0 auto; }
  .menu .symptoms {
    padding: 60px 0;
    font-size: 16px;
    line-height: 28px;
    color: #332d2a;
    font-weight: normal; }
    @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
      .menu .symptoms {
        font-size: 14px;
        line-height: 22px;
        padding: 30px 0; } }
    .menu .symptoms h2 {
      color: #313131;
      text-align: center;
      margin: 0 0 40px; }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        .menu .symptoms h2 {
          margin: 0 0 25px; } }
      .menu .symptoms h2 span:after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        right: 0;
        height: 1px;
        background: #313131; }
      .menu .symptoms h2 .ico {
        width: 31px;
        height: 36px;
        margin: -8px 8px 0 0; }
        @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
          .menu .symptoms h2 .ico {
            width: 26px;
            height: 31px; } }
    .menu .symptoms .img {
      text-align: right; }
      .menu .symptoms .img img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto; }
      .menu .symptoms .img span {
        display: inline-block;
        vertical-align: top;
        margin-top: 15px; }
  .menu .flow {
    padding: 60px 0 30px;
    font-size: 16px;
    line-height: 28px;
    color: #332d2a;
    font-weight: normal;
    background: #f1f7ed; }
    @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
      .menu .flow {
        font-size: 14px;
        line-height: 22px;
        padding: 30px 0 15px; } }
    .menu .flow h2 {
      color: #313131;
      text-align: center;
      margin: 0 0 40px; }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        .menu .flow h2 {
          margin: 0 0 25px; } }
      .menu .flow h2 span:after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        right: 0;
        height: 1px;
        background: #313131; }
      .menu .flow h2 .ico {
        width: 29px;
        height: 39px;
        margin: -8px 8px 0 0; }
        @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
          .menu .flow h2 .ico {
            width: 24px;
            height: 34px; } }
    .menu .flow .flow-list {
      margin: 0;
      padding: 0 100px;
      list-style: none;
      counter-reset: list; }
      @media screen and (max-width: 991px) {
        .menu .flow .flow-list {
          padding: 0; } }
      .menu .flow .flow-list li {
        position: relative;
        display: block;
        padding: 40px 10px 40px 90px;
        border-bottom: 1px solid #b7bab5;
        overflow: hidden;
        min-height: 130px; }
        @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
          .menu .flow .flow-list li {
            min-height: 100px;
            padding: 20px 5px 20px 45px; } }
        .menu .flow .flow-list li:last-child {
          border-bottom: 0; }
        .menu .flow .flow-list li:before {
          counter-increment: list;
          content: "" counter(list, decimal-leading-zero);
          position: absolute;
          top: 25px;
          left: 10px;
          font-family: "KokoroMinchoutai";
          font-size: 60px;
          line-height: 1;
          color: #313131; }
          @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
            .menu .flow .flow-list li:before {
              font-size: 30px;
              top: 20px;
              left: 5px; } }
        .menu .flow .flow-list li .row {
          flex-flow: row nowrap;
          justify-content: space-between; }
          @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
            .menu .flow .flow-list li .row {
              flex-flow: column wrap; } }
        .menu .flow .flow-list li .descr {
          overflow: hidden;
          width: 100%; }
          @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
            .menu .flow .flow-list li .descr {
              margin-bottom: 20px; } }
          .menu .flow .flow-list li .descr strong {
            display: block;
            font-size: 24px;
            line-height: 34px;
            font-family: "KokoroMinchoutai";
            margin-bottom: 15px; }
          .menu .flow .flow-list li .descr p {
            margin-bottom: 0; }
        .menu .flow .flow-list li .img {
          max-width: 200px;
          min-width: 200px;
          margin-left: 10px;
          width: 200px; }
          @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
            .menu .flow .flow-list li .img {
              max-width: 100%;
              min-width: 100%;
              width: 100%; } }
          .menu .flow .flow-list li .img img {
            display: block;
            max-width: 100%;
            max-height: 100%;
            margin: 0 auto; }
  .menu .inspection {
    padding: 60px 0;
    font-size: 16px;
    line-height: 28px;
    color: #332d2a;
    font-weight: normal; }
    @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
      .menu .inspection {
        font-size: 14px;
        line-height: 22px;
        padding: 30px 0; } }
    .menu .inspection h2 {
      color: #313131;
      text-align: center;
      margin: 0 0 40px; }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        .menu .inspection h2 {
          margin: 0 0 25px; } }
      .menu .inspection h2 span:after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        right: 0;
        height: 1px;
        background: #313131; }
      .menu .inspection h2 .ico {
        width: 33px;
        height: 32px;
        margin: -6px 8px 0 0; }
        @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
          .menu .inspection h2 .ico {
            width: 28px;
            height: 27px; } }
    .menu .inspection .title-text {
      text-align: center;
      margin-bottom: 45px; }
    .menu .inspection .inspection-list {
      margin: 0;
      padding: 0 30px;
      list-style: none;
      font-size: 0;
      line-height: 0; }
      @media screen and (max-width: 991px) {
        .menu .inspection .inspection-list {
          padding: 0; } }
      .menu .inspection .inspection-list li {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        padding: 0 20px 50px; }
        @media screen and (max-width: 500px) {
          .menu .inspection .inspection-list li {
            width: 100%;
            padding: 0 0 20px; } }
        .menu .inspection .inspection-list li img {
          display: block;
          max-width: 100%;
          max-height: 100%;
          margin: 0 auto; }
    .menu .inspection strong {
      display: block;
      text-align: center;
      font-size: 28px;
      line-height: 34px;
      font-weight: normal; }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        .menu .inspection strong {
          font-size: 20px;
          line-height: 28px; } }
      .menu .inspection strong span {
        display: block;
        font-size: 16px;
        line-height: 28px;
        margin-top: 12px; }
        @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
          .menu .inspection strong span {
            font-size: 14px;
            line-height: 22px; } }
  .menu .not-inspect {
    padding: 60px 0;
    font-size: 16px;
    line-height: 28px;
    background: #eef5f7;
    font-weight: normal; }
    @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
      .menu .not-inspect {
        font-size: 14px;
        line-height: 22px;
        padding: 30px 0; } }
    .menu .not-inspect h2 {
      color: #313131; }
      .menu .not-inspect h2 .ico {
        width: 37px;
        height: 33px;
        margin: -6px 8px 0 0; }
        @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
          .menu .not-inspect h2 .ico {
            width: 32px;
            height: 28px; } }
    .menu .not-inspect .list {
      margin: 0;
      padding: 0;
      list-style: none; }
      .menu .not-inspect .list li {
        display: block; }
        .menu .not-inspect .list li + li {
          margin-top: 20px; }
        .menu .not-inspect .list li:nth-child(2n) .row {
          flex-direction: row-reverse; }
        .menu .not-inspect .list li h3 small {
          font-size: 70%; }
        .menu .not-inspect .list li .row {
          border: 3px solid #9bbac3;
          border-radius: 6px;
          background-color: #fff;
          align-items: center; }
          .menu .not-inspect .list li .row .col {
            padding: 35px; }
          .menu .not-inspect .list li .row p {
            margin: 0; }
          .menu .not-inspect .list li .row .img img {
            display: block;
            max-width: 100%;
            max-height: 100%;
            margin: 0 auto; }

.studio {
  color: #313131; }
  .studio .notice_studio {
    background: #fafaf7;
    padding: 70px 0 80px;
    font-size: 20px;
    line-height: 50px; }
    @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
      .studio .notice_studio {
        padding: 25px 0;
        font-size: 14px;
        line-height: 24px; } }
    .studio .notice_studio h2 {
      color: #313131;
      margin-bottom: 30px; }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        .studio .notice_studio h2 {
          text-align: center; } }
      .studio .notice_studio h2 span {
        position: relative;
        display: inline-block;
        vertical-align: top; }
        .studio .notice_studio h2 span:after {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 0;
          right: 0;
          height: 1px;
          background: #313131; }
      .studio .notice_studio h2 .ico {
        width: 35px;
        height: 40px;
        margin: -4px 10px 0 0; }
        @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
          .studio .notice_studio h2 .ico {
            width: 26px;
            height: 29px;
            margin: -4px 8px 0 0; } }
    .studio .notice_studio .row {
      padding: 0 25px; }
      @media screen and (max-width: 991px) {
        .studio .notice_studio .row {
          padding: 0; } }
      .studio .notice_studio .row .col {
        padding: 0 25px; }
        @media screen and (max-width: 991px) {
          .studio .notice_studio .row .col {
            width: 100%;
            padding: 15px 25px; } }
        @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
          .studio .notice_studio .row .col {
            padding: 15px 0; } }
        .studio .notice_studio .row .col p {
          margin-bottom: 45px; }
          @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
            .studio .notice_studio .row .col p {
              margin-bottom: 20px; } }
          .studio .notice_studio .row .col p:last-child {
            margin-bottom: 0; }
  .studio .studio-effect {
    padding: 70px 0 80px; }
    @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
      .studio .studio-effect {
        padding: 40px 0; } }
    .studio .studio-effect .title {
      display: block;
      font-size: 28px;
      line-height: 52px;
      text-align: center;
      font-weight: normal;
      margin-bottom: 50px; }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        .studio .studio-effect .title {
          font-size: 16px;
          line-height: 32px;
          margin-bottom: 30px; } }
    .studio .studio-effect h2 {
      color: #313131;
      text-align: center;
      margin: 0 0 30px; }
      .studio .studio-effect h2 span:after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        right: 0;
        height: 1px;
        background: #313131; }
      .studio .studio-effect h2 .ico {
        width: 37px;
        height: 36px;
        margin: -2px 6px 0 0; }
        @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
          .studio .studio-effect h2 .ico {
            width: 32px;
            height: 31px; } }
    .studio .studio-effect .studio-list {
      margin: 0 0 45px;
      padding: 0;
      list-style: none;
      font-size: 0;
      line-height: 0; }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        .studio .studio-effect .studio-list {
          margin: 0 0 25px; } }
      .studio .studio-effect .studio-list li {
        display: inline-block;
        vertical-align: top;
        width: 33.33333%;
        padding: 0 5px 10px; }
        .studio .studio-effect .studio-list li:first-child {
          width: 100%; }
          .studio .studio-effect .studio-list li:first-child .img {
            padding-top: 25%; }
        .studio .studio-effect .studio-list li .img {
          padding-top: 76%; }
    .studio .studio-effect .holder-info {
      padding: 0 50px; }
      @media screen and (max-width: 991px) {
        .studio .studio-effect .holder-info {
          padding: 0; } }
      .studio .studio-effect .holder-info strong {
        display: block;
        text-align: center;
        font-size: 55px;
        line-height: 60px;
        font-weight: normal;
        margin-bottom: 45px; }
        @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
          .studio .studio-effect .holder-info strong {
            font-size: 22px;
            line-height: 28px;
            margin-bottom: 25px; } }
        .studio .studio-effect .holder-info strong span {
          display: block;
          font-size: 24px;
          line-height: 30px;
          margin-bottom: 10px; }
          @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
            .studio .studio-effect .holder-info strong span {
              font-size: 14px;
              line-height: 22px; } }

.effect-list {
  margin: 0 0 25px;
  padding: 0;
  list-style: none;
  font-size: 0;
  line-height: 0;
  text-align: center; }
  .effect-list li {
    display: inline-block;
    vertical-align: top;
    width: 33.33333%;
    max-width: 330px;
    padding: 0 15px 25px;
    font-size: 16px;
    line-height: 30px; }
    @media screen and (max-width: 991px) {
      .effect-list li {
        font-size: 14px;
        line-height: 24px; } }
    @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
      .effect-list li {
        width: 100%; } }
    .effect-list li .img {
      border-radius: 50%;
      overflow: hidden;
      padding-top: 100%;
      box-shadow: 0 0 5px 2px #b0b0b0;
      margin-bottom: 15px; }
    .effect-list li .descr {
      color: #313131; }
    .effect-list li h3 {
      margin-bottom: 15px;
      text-align: center;
      color: #313131; }
    .effect-list li p {
      margin-bottom: 0; }

.table-default {
  color: #7e6b5a;
  font-size: 16px;
  line-height: 30px; }
  @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
    .table-default {
      font-size: 12px;
      line-height: 18px; } }
  .table-default table {
    width: 100%; }
    .table-default table tr {
      height: 60px; }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        .table-default table tr {
          height: 35px; } }
    .table-default table th {
      vertical-align: top;
      border: 1px solid #bab8b6;
      padding: 14px 8px;
      text-align: center;
      font-weight: normal;
      background-color: #fafaf7; }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        .table-default table th {
          width: 24%;
          padding: 8px 6px; } }
    .table-default table td {
      vertical-align: top;
      border: 1px solid #bab8b6;
      padding: 14px 18px; }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        .table-default table td {
          padding: 8px 10px; } }
    .table-default table a {
      color: #7e6b5a; }

.voice {
  padding: 70px 0; }
  @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
    .voice {
      padding: 35px 0; } }
  .voice .voice-list {
    margin: 0;
    padding: 0;
    list-style: none; }
    .voice .voice-list li + li {
      margin-top: 50px; }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        .voice .voice-list li + li {
          margin-top: 30px; } }
    .voice .voice-list .holder-info {
      position: relative; }
    .voice .voice-list .head {
      background: #59493F;
      padding: 20px; }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        .voice .voice-list .head {
          padding: 10px; } }
      .voice .voice-list .head dl {
        overflow: hidden; }
      .voice .voice-list .head dt {
        float: left;
        padding-right: 18px;
        position: relative; }
        @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
          .voice .voice-list .head dt {
            float: none;
            padding: 0; } }
        .voice .voice-list .head dt:before {
          content: "";
          position: absolute;
          top: 3px;
          right: 0;
          width: 1px;
          height: 8px;
          background: #d8cfc1; }
          @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
            .voice .voice-list .head dt:before {
              display: none; } }
        .voice .voice-list .head dt:after {
          content: "";
          position: absolute;
          bottom: 3px;
          right: 0;
          width: 1px;
          height: 8px;
          background: #d8cfc1; }
          @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
            .voice .voice-list .head dt:after {
              display: none; } }
      .voice .voice-list .head dd {
        overflow: hidden; }
      .voice .voice-list .head .date {
        display: inline-block;
        vertical-align: top;
        font-size: 20px;
        line-height: 28px;
        color: #fff; }
        @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
          .voice .voice-list .head .date {
            font-size: 12px;
            line-height: 20px; } }
      .voice .voice-list .head strong {
        display: inline-block;
        vertical-align: top;
        font-size: 24px;
        line-height: 28px;
        padding: 0 18px;
        font-weight: normal;
        color: #fff; }
        @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
          .voice .voice-list .head strong {
            display: block;
            font-size: 16px;
            line-height: 20px;
            padding: 0; } }
    .voice .voice-list .descr {
      border: 1px solid #e6e6e6;
      padding: 30px;
      font-size: 16px;
      line-height: 28px;
      overflow: hidden; }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        .voice .voice-list .descr {
          padding: 10px;
          font-size: 12px;
          line-height: 22px; } }
    .voice .voice-list .img {
      float: left;
      margin-right: 30px;
      border: 1px solid #e6e6e6;
      background-color: #f4f4f4;
      max-width: 300px;
      width: 100%;
      height: 300px; }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        .voice .voice-list .img {
          float: none;
          margin: 0 auto 15px;
          height: 250px; } }
    .voice .voice-list .info {
      overflow: hidden; }
      .voice .voice-list .info p {
        margin: 0; }

.pagination-holder {
  text-align: center;
  font-size: 0;
  line-height: 0; }

.pagination {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 45px 0 4px;
  font-size: 0;
  line-height: 0;
  text-align: center; }
  .pagination li {
    float: none;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 20px;
    padding: 0 5px 8px; }
    @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
      .pagination li {
        font-size: 14px;
        line-height: 18px;
        padding: 0 2px 4px; } }
    .pagination li > a,
    .pagination li > span {
      position: relative;
      min-width: 30px;
      padding: 4px 5px;
      float: none;
      display: block;
      border-radius: 0;
      line-height: 1.25;
      text-decoration: none;
      color: #fff;
      background-color: #59493F;
      border: 1px solid #59493F;
      margin-left: 0;
      transition: all .3s; }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        .pagination li > a,
        .pagination li > span {
          min-width: 30px;
          padding: 5px; } }
      .pagination li > a:hover,
      .pagination li > span:hover {
        color: #fff;
        background: #59493F;
        border-color: #59493F;
        opacity: 0.9; }
    .pagination li span {
      border: none;
      background: none;
      padding: 11px 10px 6px;
      min-width: auto; }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        .pagination li span {
          padding: 7px 2px 5px; } }
    .pagination li.active a {
      z-index: 3;
      color: #fff;
      background: #59493F;
      border-color: #59493F;
      cursor: default;
      opacity: 0.5; }
    .pagination li .arrow {
      font-size: 0;
      line-height: 0;
      border-radius: 0;
      width: 30px;
      height: 30px; }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        .pagination li .arrow {
          width: 30px;
          height: 30px; } }
      .pagination li .arrow.disabled {
        cursor: default;
        opacity: 0.5; }
    .pagination li .prev:before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 54%;
      border-bottom: 2px solid transparent;
      border-right: 2px solid transparent;
      width: 8px;
      height: 8px;
      margin: auto;
      border-color: #fff;
      -webkit-transform: translate(-46%, -50%) rotate(135deg);
      transform: translate(-46%, -50%) rotate(135deg); }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        .pagination li .prev:before {
          width: 6px;
          height: 6px; } }
    .pagination li .next:before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 48%;
      border-top: 2px solid transparent;
      border-left: 2px solid transparent;
      width: 8px;
      height: 8px;
      margin: auto;
      border-color: #fff;
      -webkit-transform: translate(-52%, -50%) rotate(135deg);
      transform: translate(-52%, -50%) rotate(135deg); }
      @media screen and (max-width: 768px), screen and (orientation: landscape) and (max-width: 768px), screen and (orientation: portrait) and (max-width: 768px) {
        .pagination li .next:before {
          width: 6px;
          height: 6px; } }

/*# sourceMappingURL=main.css.map */
