/* footer */
#footer{
	position: relative;
	font-size: 12px;
	line-height: 20px;
	font-weight: normal;
	padding: 45px 0 15px;
	background: url(#{$images}img-footer-bg.jpg) 50% 50% no-repeat;
	background-size: cover;
	@include breakpoint(mobile){
		padding: 40px 0 15px;
	}
	.row{
		margin-bottom: 45px;
		@include breakpoint(mobile){
			margin-bottom: 30px;
		}
		.col{
			strong{
				display: block;
				font-size: 36px;
				line-height: 40px;
				font-family: $KokoroMincho;
				margin-bottom: 28px;
				@include breakpoint(mobile){
					font-size: 30px;
					line-height: 34px;
					margin-bottom: 10px;
				}
			}
			.address{
				display: block;
				font-style: normal;
				font-size: 16px;
				line-height: 22px;
				@include breakpoint(mobile){
					font-size: 14px;
					line-height: 20px;
				}
				dl{
					overflow: hidden;
					font-size: 14px;
					line-height: 22px;
					margin: 10px 0;
					@include breakpoint(mobile){
						font-size: 12px;
						line-height: 20px;
						margin: 8px 0;
					}
					dt{
						float: left;
						width: 100%;
						max-width: 110px;
						margin-right: 10px;
						@include breakpoint(mobile){
							float: none;
							display: block;
							max-width: 100%;
							margin: 0;
						}
						.ico{
							display: inline-block;
							vertical-align: middle;
							width: 15px;
							height: 21px;
							margin: -4px 5px 0 0;
							@include breakpoint(mobile){
								width: 12px;
								height: 17px;
							}
							img{
								display: block;
								max-width: 100%;
								max-height: 100%;
								opacity: 1;
							}
						}
					}
					dd{
						overflow: hidden;
					}
				}
			}
		}
	}
	.copy{
		text-align: center;
		margin: 0;
	}
	.tel{
		display: inline-block;
		vertical-align: top;
		font-size: 36px;
		line-height: 42px;
		text-align: center;
		color: $cork;
		font-family: $KokoroMincho;
		@include breakpoint(mobile){}
		.ico{
			display: inline-block;
			vertical-align: middle;
			width: 21px;
			height: 27px;
			margin: -6px 5px 0 0;
			img{
				display: block;
				max-width: 100%;
				max-height: 100%;
				opacity: 1;
			}
		}
	}
}
.address{
	display: block;
	font-style: normal;
	font-size: 16px;
	line-height: 22px;
	@include breakpoint(mobile){
		font-size: 14px;
		line-height: 20px;
	}
	dl{
		overflow: hidden;
		font-size: 14px;
		line-height: 22px;
		margin: 10px 0;
		@include breakpoint(mobile){
			font-size: 12px;
			line-height: 20px;
		}
		dt{
			float: left;
			width: 100%;
			max-width: 110px;
			margin-right: 10px;
			@include breakpoint(mobile){
				float: none;
				max-width: 100%;
				margin: 0;
			}
			.ico{
				display: inline-block;
				vertical-align: middle;
				width: 15px;
				height: 21px;
				margin: -4px 5px 0 0;
				@include breakpoint(mobile){
					width: 12px;
					height: 17px;
				}
				img{
					display: block;
					max-width: 100%;
					max-height: 100%;
					opacity: 1;
				}
			}
		}
		dd{
			overflow: hidden;
		}
	}
}
.working-hours{
	@include breakpoint(mobile){
		font-size: 12px;
		line-height: 16px;
	}
	> h2{
		.ico{
			width: 23px;
			height: 23px;
			margin: -6px 12px 0 0;
			@include breakpoint(mobile){
				width: 21px;
				height: 21px;
				margin: -6px 8px 0 0;
			}
		}
	}
	h3{
		.ico{
			display: inline-block;
			vertical-align: middle;
			width: 19px;
			height: 19px;
			margin: -4px 12px 0 0;
			@include breakpoint(mobile){
				width: 17px;
				height: 17px;
			}
			img{
				display: block;
				max-width: 100%;
				max-height: 100%;
				opacity: 1;
			}
		}
	}
	table{
		width: 100%;
		max-width: 500px;
		background: $white;
		margin-bottom: 10px;
		@include breakpoint(mobile){
			max-width: 100%;
		}
		thead{
			th{
				width: 60px;
				background: #efefe4;
				@include breakpoint(tablet){
					width: 42px;
				}
				@include breakpoint(mobile){
					width: 12%;
				}
				&:first-child{
					width: auto;
				}
				&.saturday{
					background: #dce9f0;
					color: #5a687e;
				}
				&.sunday{
					background: #f0e2e3;
					color: #7e5a61;
				}
			}
		}
		tr{
			height: 60px;
			font-size: 14px;
			line-height: 1;
			color: #7e6b5a;
			text-align: center;
			@include breakpoint(mobile){
				height: 40px;
				font-size: 12px;
			}
		}
		th{
			position: relative;
			border: 1px solid #bab8b6;
			vertical-align: middle;
			padding: 5px;
		}
		td{
			position: relative;
			border: 1px solid #bab8b6;
			vertical-align: middle;
			padding: 5px;
			&.working{
				&:after{
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 20px;
					height: 20px;
					border-radius: 50%;
					border: 2px solid #ab8d66;
					@include breakpoint(mobile){
						width: 12px;
						height: 12px;
					}
				}
			}
			&.off{
				&:before{
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%) rotate(135deg);
					width: 13px;
					height: 2px;
					background: #7f7f7f;
					@include breakpoint(mobile){
						width: 10px;
					}
				}
				&:after{
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%) rotate(-135deg);
					width: 13px;
					height: 2px;
					background: #7f7f7f;
					@include breakpoint(mobile){
						width: 10px;
					}
				}
			}
		}
	}
}