#header{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
	text-align: center;
	color: $cork;
	z-index: 200;
	height: 100px;
	background: $white;
	@include breakpoint(tablet){
		font-size: 12px;
	}
	@include breakpoint(mobile){
		height: 115px;
	}
	&.scrolled{
		.logo{
			width: 430px;
			height: 68px;
			background: url(#{$images}logo_sp.png) no-repeat 50% 50%;
			background-size: 100% auto;
			@include breakpoint(tablet){
				width: 370px;
				height: 66px;
			}
			@include breakpoint(mobile){
				background: url('#{$images}logo_sp.png') no-repeat 50% 50%;
				background-size: 100% auto;
				width: 342px;
				height: 40px;
			}
			@include breakpoint(mobile-xs){
				width: 300px;
				height: 35px;
			}
		}
	}
	.logo{
		float: left;
		width: 301px;
		height: 136px;
		background: url('#{$images}logo.png') no-repeat 50% 50%;
		-webkit-background-size: 100% auto;
		background-size: 100% auto;
		overflow: hidden;
		text-indent: -9999px;
		@include breakpoint(tablet){
			width: 270px;
			height: 124px;
		}
		@include breakpoint(mobile){
			background: url('#{$images}logo_sp.png') no-repeat 50% 50%;
			-webkit-background-size: 100% auto;
			background-size: 100% auto;
			width: 342px;
			height: 40px;
		}
		@include breakpoint(mobile-xs){
			width: 300px;
			height: 35px;
		}
		a{
			display: block;
			min-height: 100%;
		}
	}
	.logotype{
		float: left;
		@include clearfix();
		span{
			display: block;
			text-align: left;
			line-height: 32px;
			width: 100%;
			@include breakpoint(mobile){
				font-size: 10px;
				line-height: 16px;
				margin: 10px 0 20px -4px;
			}
			@include breakpoint(mobile-xs){
				font-size: 10px;
				max-width: 135px;
				margin: 10px 0 8px -4px;
			}
		}
	}
	.holder{
		overflow: hidden;
		@include breakpoint(mobile){
			position: absolute;
			top: 0;
			right: 52px;
		}
		.sub-links{
			margin: 0;
			padding: 0;
			list-style: none;
			font-size: 0;
			line-height: 0;
			text-align: right;
			li{
				display: inline-block;
				vertical-align: top;
				width: 235px;
				height: 58px;
				padding: 0 5px 10px;
				text-align: left;
				@include breakpoint(tablet){
					width: 160px;
					height: 44px;
					padding: 0 2px 10px;
				}
				@include breakpoint(mobile){
					width: auto;
					height: auto;
					padding: 0 2px;
				}
			}
		}
		.access{
			position: relative;
			display: block;
			height: 100%;
			font-size: 18px;
			line-height: 36px;
			text-align: center;
			color: $white;
			font-family: $KokoroMincho;
			z-index: 0;
			@include breakpoint(tablet){
				font-size: 16px;
				line-height: 25px;
			}
			@include breakpoint(mobile){
				width: 50px;
				height: 50px;
				background: $green url(#{$images}ico-man_sp.png) 50% 50% no-repeat;
				background-size: 26px auto;
				font-size: 0;
				line-height: 0;
			}
			&:before{
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: url(#{$images}img-access-bg.png) no-repeat;
				background-size: 100% auto;
				z-index: -1;
				display: block;
				@include breakpoint(mobile){
					display: none;
				}
			}
			&:after{
				content: "";
				position: absolute;
				top: 3px;
				left: 3px;
				right: 3px;
				bottom: 3px;
				border: 1px dashed $white;
				display: none;
				@include breakpoint(mobile){
					display: block;
				}
			}
			.ico{
				display: inline-block;
				vertical-align: middle;
				width: 15px;
				height: 21px;
				margin: -4px 8px 0 0;
				@include breakpoint(tablet){
					width: 12px;
					height: 17px;
				}
				@include breakpoint(mobile){
					display: none;
				}
				img{
					display: block;
					max-width: 100%;
					max-height: 100%;
					opacity: 1;
				}
			}
		}
		.tel{
			position: relative;
			display: block;
			height: 100%;
			font-size: 26px;
			line-height: 34px;
			text-align: center;
			color: $white;
			font-family: $KokoroMincho;
			z-index: 0;
			@include breakpoint(tablet){
				font-size: 17px;
				line-height: 26px;
			}
			@include breakpoint(mobile){
				width: 50px;
				height: 50px;
				background: $green url(#{$images}ico-header-tel_sp.png) 50% 50% no-repeat;
				background-size: 32px auto;
				font-size: 0;
				line-height: 0;
			}
			&:before{
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: url(#{$images}img-telephone-bg.png) no-repeat;
				background-size: 100% auto;
				z-index: -1;
				display: block;
				@include breakpoint(mobile){
					display: none;
				}
			}
			&:after{
				content: "";
				position: absolute;
				top: 3px;
				left: 3px;
				right: 3px;
				bottom: 3px;
				border: 1px dashed $white;
				display: none;
				@include breakpoint(mobile){
					display: block;
				}
			}
			.ico{
				display: inline-block;
				vertical-align: middle;
				width: 16px;
				height: 20px;
				margin: -6px 5px 0 0;
				@include breakpoint(tablet){
					width: 13px;
					height: 16px;
					margin-top: -4px;
				}
				@include breakpoint(mobile){
					display: none;
				}
				img{
					display: block;
					max-width: 100%;
					max-height: 100%;
					opacity: 1;
				}
			}
		}
	}
}


.open-menu{
	position: relative;
	font-size: 0;
	line-height: 0;
	width: 50px;
	height: 50px;
	padding: 10px;
	background: $green;
	display: none;
	&:after{
		content: "";
		position: absolute;
		top: 3px;
		left: 3px;
		right: 3px;
		bottom: 3px;
		border: 1px dashed $white;
	}
	@include breakpoint(tablet){
		display: block;
		position: absolute;
		top: 42px;
		right: 18px;
		margin: 0;
	}
	@include breakpoint(mobile){
		top: 0;
		right: 0;
	}
	span{
		display: block;
		border: solid transparent;
		border-width: 0;
		height: 4px;
		position: relative;
		cursor: pointer;
		-webkit-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
		background: #efedeb;
		background-clip: padding-box;
		border-radius: 4px;
		margin-top: 13px;
		&:before,
		&:after{
			position: absolute;
			left: 0;
			right: 0;
			content: '';
			top: -9px;
			height: 4px;
			background: #efedeb;
			-webkit-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out;
			border-radius: 4px;
		}
		&:after{top: 9px;}
	}
}
.menu-opened .open-menu {z-index:150;}
.menu-opened .open-menu span {background: transparent;}
.menu-opened .open-menu span:before{
	top: 0;
	-ms-transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
}
.menu-opened .open-menu span:after{
	top: 0;
	-ms-transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

body.menu-opened{overflow: hidden;}

.menu-opened .main-nav{
	transform: translate(0, 0);
}
.fader{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.3);
	opacity: 0;
	z-index: 100;
	-webkit-transition: opacity .3s;
	-o-transition: opacity .3s;
	transition: opacity .3s;
	visibility: hidden;
	cursor: pointer;
}
.menu-opened .fader{

	opacity: 1;
	visibility: visible;
}