/* main-nav */
.main-nav{
	position: relative;
	display: block;
	overflow: hidden;
	@include breakpoint(tablet){
		position: fixed;
		top: 100px;
		left: 0;
		right: 0;
		bottom: auto;
		padding: 0 10px;
		margin: 0;
		z-index: 100;
		background: rgba(255, 255, 255, 0.9);
		-webkit-transition: all .5s ease-in-out;
		-o-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out;
		overflow: hidden;
		overflow-y: auto;
		transform: translate(100%, 0);
	}
	@include breakpoint(mobile){
		top: 50px;
	}
	@media screen and (orientation: landscape) and (max-width: 700px){
		height: calc(100% - 50px);
	}
	.nav{
		position: relative;
		float: right;
		padding: 0;
		margin: 0;
		list-style: none;
		font-size: 0;
		line-height: 0;
		text-align: center;
		@include breakpoint(tablet){
			float: none;
		}
		>li{
			position: relative;
			display: inline-block;
			vertical-align: top;
			font-size: 16px;
			line-height: 20px;
			font-family: $KokoroMincho;
			font-weight: normal;
			text-align: center;
			@include breakpoint(tablet){
				display: block;
			}
			&:first-child{
				&:before,
				&:after{
					display: none;
				}
			}
			&:last-child{
				a{
					&:before{
						@include breakpoint(tablet){
							display: none;
						}
					}
				}
			}
			&:before{
				content: "";
				position: absolute;
				top: 10px;
				left: 0;
				width: 1px;
				height: 5px;
				background: #d8cfc1;
				@include breakpoint(tablet){
					display: none;
				}
			}
			&:after{
				content: "";
				position: absolute;
				bottom: 6px;
				left: 0;
				width: 1px;
				height: 5px;
				background: #d8cfc1;
				@include breakpoint(tablet){
					display: none;
				}
			}
			&.active{
				a{
					&:before{
						visibility: visible;
						-webkit-transform: scaleX(1);
						transform: scaleX(1);
					}
					@include breakpoint(tablet){
						background: $white;
					}
				}
			}
			a{
				position: relative;
				display: block;
				padding: 6px 16px;
				color: $cork;
				-webkit-transition: all 0.3s ease-in-out;
				transition: all 0.3s ease-in-out;
				@include breakpoint(tablet){
					padding: 25px 20px;
				}
				&:before{
					content: "";
					position: absolute;
					height: 2px;
					bottom: 0;
					left: 5px;
					right: 5px;
					background: $cork;
					visibility: hidden;
					-webkit-transition: all 0.5s ease-in-out 0s;
					transition: all 0.5s ease-in-out 0s;
					-webkit-transform: scaleX(0);
					transform: scaleX(0);
					@include breakpoint(tablet){
						height: 1px;
						left: 0;
						right: 0;
						background: #b7b1ae;
						visibility: visible;
						-webkit-transform: scaleX(1);
						transform: scaleX(1);
					}
				}
				&:after{
					content: "";
					position: absolute;
					top: 50%;
					right: 5px;
					transform: translate(0, -50%);
					border: 8px solid transparent;
					border-left: 10px solid $cork;
					border-right: 0;
					display: none;
					@include breakpoint(tablet){
						display: block;
					}
				}
				&:hover{
					&:before{
						visibility: visible;
						-webkit-transform: scaleX(1);
						transform: scaleX(1);
					}
					@include breakpoint(tablet){
						background: $white;
					}
				}
			}
		}
	}
}