.about{
	.greetings{
		padding: 80px 0;
		background: #fafaf7;
		@include breakpoint(mobile){
			padding: 40px 0;
		}
		h2{
			color: #313131;
			text-align: center;
			margin: 0 0 40px;
			@include breakpoint(tablet){
				margin: 0 0 25px;
			}
			span{
				&:after{
					content: "";
					position: absolute;
					bottom: -5px;
					left: 0;
					right: 0;
					height: 1px;
					background: #313131;
				}
			}
			.ico{
				width: 29px;
				height: 38px;
				margin: -8px 8px 0 0;
				@include breakpoint(mobile){
					width: 24px;
					height: 33px;
				}
			}
		}
		.row{
			display: block;
			padding: 0 50px;
			@include breakpoint(tablet){
				padding: 0;
			}
			.img{
				float: right;
				max-width: 400px;
				margin-left: 60px;
				@include breakpoint(mobile){
					margin: 0 0 20px;
					float: none;
					max-width: 100%;
				}
				img{
					display: block;
					max-width: 100%;
					max-height: 100%;
					margin: 0 auto;
				}
			}
			.descr{
				overflow: hidden;
				font-size: 16px;
				line-height: 28px;
				color: #332d2a;
				font-weight: normal;
				@include breakpoint(mobile){
					font-size: 14px;
					line-height: 22px;
				}
				ul{
					margin: 0 0 40px;
					padding: 0;
					list-style: none;
					@include breakpoint(mobile){
						margin: 0 0 20px;
					}
					li + li{
						margin-top: 20px;
						@include breakpoint(mobile){
							margin-top: 8px;
						}
					}
					strong{
						font-size: 18px;
						font-weight: normal;
						@include breakpoint(mobile){
							font-size: 16px;
						}
						span{
							font-size: 24px;
							@include breakpoint(mobile){
								font-size: 20px;
							}
						}
					}
				}
				h2{
					text-align: left;
					margin-bottom: 30px;
					@include breakpoint(mobile){
						margin-bottom: 16px;
					}
				}
				> span{
					display: inline-block;
					vertical-align: top;
					margin-bottom: 20px;
					padding: 5px;
					border: 1px solid #cdcdbb;
					background-color: #fff;
				}
				.title{
					display: block;
					font-weight: normal;
					border-bottom: 2px solid #e9e9cf;
					margin-bottom: 20px;
					@include breakpoint(mobile){
						margin-bottom: 15px;
						border-width: 1px;
					}
				}
				p{
					margin-bottom: 10px;
				}
			}
		}
	}
	.holder-info{
		padding: 0 50px;
		margin-bottom: 55px;
		@include breakpoint(tablet){
			padding: 0;
			margin-bottom: 25px;
		}
		h2{
			color: #313131;
			text-align: center;
			margin: 0 0 40px;
			@include breakpoint(tablet){
				margin: 0 0 25px;
			}
			span{
				&:after{
					content: "";
					position: absolute;
					bottom: -5px;
					left: 0;
					right: 0;
					height: 1px;
					background: #313131;
				}
			}
			.ico{
				width: 27px;
				height: 24px;
				margin: -4px 8px 0 0;
				@include breakpoint(mobile){
					width: 22px;
					height: 19px;
				}
			}
		}
	}
	.access-block{
		padding: 0 50px;
		@include breakpoint(tablet){
			padding: 0;
			margin-top: 0;
			border: 0;
		}
		.map{
			height: 400px;
			@include breakpoint(mobile){
				height: 250px;
			}
		}
	}
	.equipment-info{
		padding: 60px 0;
		background: #f1f7ed;
		@include breakpoint(mobile){
			padding: 30px 0;
		}
		h2{
			color: #313131;
			text-align: center;
			margin: 0 0 40px;
			@include breakpoint(tablet){
				margin: 0 0 25px;
			}
			span{
				&:after{
					content: "";
					position: absolute;
					bottom: -5px;
					left: 0;
					right: 0;
					height: 1px;
					background: #313131;
				}
			}
			.ico{
				width: 31px;
				height: 27px;
				margin: -6px 8px 0 0;
				@include breakpoint(mobile){
					width: 26px;
					height: 22px;
				}
			}
		}
		.info-list{
			margin: 0;
			padding: 0 25px;
			list-style: none;
			@include breakpoint(tablet){
				padding: 0;
				margin: 0 -25px;
			}
			@include breakpoint(mobile){
				margin: 0 -10px;
			}
			li{
				position: relative;
				float: left;
				width: 33.333333%;
				padding: 10px 25px;
				@include breakpoint(mobile){
					width: 50%;
					padding: 8px 10px;
				}
			}
			.img{
				display: block;
				height: 210px;
				background-color: #000;
				box-shadow: inset 0 0 0 4px #fff, 0 0 5px 2px #b0b0b0;
				margin-bottom: 15px;
				@include breakpoint(tablet){
					height: 180px;
				}
				@include breakpoint(mobile){
					margin-bottom: 6px;
					height: 145px;
				}
			}
			span{
				display: block;
				font-size: 16px;
				line-height: 28px;
				color: #332d2a;
				font-weight: normal;
				text-align: center;
				@include breakpoint(mobile){
					font-size: 14px;
					line-height: 22px;
				}
			}
		}
	}
}