.menu{
	color: #313131;
	.treatment-policy{
		padding: 60px 0;
		background: #fafaf7;
		@include breakpoint(mobile){
			padding: 30px 0;
		}
		h2{
			color: #313131;
			text-align: center;
			margin: 0 0 40px;
			@include breakpoint(mobile){
				margin: 0 0 25px;
			}
			span{
				&:after{
					content: "";
					position: absolute;
					bottom: -5px;
					left: 0;
					right: 0;
					height: 1px;
					background: #313131;
				}
			}
			.ico{
				width: 29px;
				height: 33px;
				margin: -8px 8px 0 0;
				@include breakpoint(mobile){
					width: 24px;
					height: 28px;
				}
			}
		}
		.effect-list{
			li{
				width: 50%;
				max-width: 400px;
				@include breakpoint(mobile){
					width: 100%;
				}
			}
		}
		strong{
			display: block;
			font-size: 36px;
			line-height: 40px;
			font-weight: normal;
			text-align: center;
			margin-bottom: 40px;
			@include breakpoint(mobile){
				font-size: 20px;
				line-height: 32px;
				margin-bottom: 20px;
			}
		}
		.img{
			img{
				display: block;
				max-width: 100%;
				max-height: 100%;
				margin: 0 auto;
			}
		}
	}
	.symptoms{
		padding: 60px 0;
		font-size: 16px;
		line-height: 28px;
		color: #332d2a;
		font-weight: normal;
		@include breakpoint(mobile){
			font-size: 14px;
			line-height: 22px;
			padding: 30px 0;
		}
		h2{
			color: #313131;
			text-align: center;
			margin: 0 0 40px;
			@include breakpoint(mobile){
				margin: 0 0 25px;
			}
			span{
				&:after{
					content: "";
					position: absolute;
					bottom: -5px;
					left: 0;
					right: 0;
					height: 1px;
					background: #313131;
				}
			}
			.ico{
				width: 31px;
				height: 36px;
				margin: -8px 8px 0 0;
				@include breakpoint(mobile){
					width: 26px;
					height: 31px;
				}
			}
		}
		.img{
			text-align: right;
			img{
				display: block;
				max-width: 100%;
				max-height: 100%;
				margin: 0 auto;
			}
			span{
				display: inline-block;
				vertical-align: top;
				margin-top: 15px;
			}
		}
	}
	.flow{
		padding: 60px 0 30px;
		font-size: 16px;
		line-height: 28px;
		color: #332d2a;
		font-weight: normal;
		background: #f1f7ed;
		@include breakpoint(mobile){
			font-size: 14px;
			line-height: 22px;
			padding: 30px 0 15px;
		}
		h2{
			color: #313131;
			text-align: center;
			margin: 0 0 40px;
			@include breakpoint(mobile){
				margin: 0 0 25px;
			}
			span{
				&:after{
					content: "";
					position: absolute;
					bottom: -5px;
					left: 0;
					right: 0;
					height: 1px;
					background: #313131;
				}
			}
			.ico{
				width: 29px;
				height: 39px;
				margin: -8px 8px 0 0;
				@include breakpoint(mobile){
					width: 24px;
					height: 34px;
				}
			}
		}
		.flow-list{
			margin: 0;
			padding: 0 100px;
			list-style: none;
			counter-reset: list;
			@include breakpoint(tablet){
				padding: 0;
			}
			li{
				position: relative;
				display: block;
				padding: 40px 10px 40px 90px;
				border-bottom: 1px solid #b7bab5;
				overflow: hidden;
				min-height: 130px;
				@include breakpoint(mobile){
					min-height: 100px;
					padding: 20px 5px 20px 45px;
				}
				&:last-child{
					border-bottom: 0;
				}
				&:before{
					counter-increment: list;
					content: "" counter(list, decimal-leading-zero);
					position: absolute;
					top: 25px;
					left: 10px;
					font-family: $KokoroMincho;
					font-size: 60px;
					line-height: 1;
					color: #313131;
					@include breakpoint(mobile){
						font-size: 30px;
						top: 20px;
						left: 5px;
					}
				}
				.row{
					flex-flow: row nowrap;
					justify-content: space-between;
					@include breakpoint(mobile){
						flex-flow: column wrap;
					}
				}
				.descr{
					overflow: hidden;
					width: 100%;
					@include breakpoint(mobile){
						margin-bottom: 20px;
					}
					strong{
						display: block;
						font-size: 24px;
						line-height: 34px;
						font-family: $KokoroMincho;
						margin-bottom: 15px;
					}
					p{
						margin-bottom: 0;
					}
				}
				.img{
					max-width: 200px;
					min-width: 200px;
					margin-left: 10px;
					width: 200px;
					@include breakpoint(mobile){
						max-width: 100%;
						min-width: 100%;
						width: 100%;
					}
					img{
						display: block;
						max-width: 100%;
						max-height: 100%;
						margin: 0 auto;
					}
				}
			}
		}
	}
	.inspection{
		padding: 60px 0;
		font-size: 16px;
		line-height: 28px;
		color: #332d2a;
		font-weight: normal;
		@include breakpoint(mobile){
			font-size: 14px;
			line-height: 22px;
			padding: 30px 0;
		}
		h2{
			color: #313131;
			text-align: center;
			margin: 0 0 40px;
			@include breakpoint(mobile){
				margin: 0 0 25px;
			}
			span{
				&:after{
					content: "";
					position: absolute;
					bottom: -5px;
					left: 0;
					right: 0;
					height: 1px;
					background: #313131;
				}
			}
			.ico{
				width: 33px;
				height: 32px;
				margin: -6px 8px 0 0;
				@include breakpoint(mobile){
					width: 28px;
					height: 27px;
				}
			}
		}
		.title-text{
			text-align: center;
			margin-bottom: 45px;
		}
		.inspection-list{
			margin: 0;
			padding: 0 30px;
			list-style: none;
			font-size: 0;
			line-height: 0;
			@include breakpoint(tablet){
				padding: 0;
			}
			li{
				display: inline-block;
				vertical-align: top;
				width: 50%;
				padding: 0 20px 50px;
				@media screen and (max-width: 500px){
					width: 100%;
					padding: 0 0 20px;
				}
				img{
					display: block;
					max-width: 100%;
					max-height: 100%;
					margin: 0 auto;
				}
			}
		}
		strong{
			display: block;
			text-align: center;
			font-size: 28px;
			line-height: 34px;
			font-weight: normal;
			@include breakpoint(mobile){
				font-size: 20px;
				line-height: 28px;
			}
			span{
				display: block;
				font-size: 16px;
				line-height: 28px;
				margin-top: 12px;
				@include breakpoint(mobile){
					font-size: 14px;
					line-height: 22px;
				}
			}
		}
	}
	.not-inspect{
		padding: 60px 0;
		font-size: 16px;
		line-height: 28px;
		background: #eef5f7;
		font-weight: normal;
		@include breakpoint(mobile){
			font-size: 14px;
			line-height: 22px;
			padding: 30px 0;
		}
		h2{
			color: #313131;
			.ico{
				width: 37px;
				height: 33px;
				margin: -6px 8px 0 0;
				@include breakpoint(mobile){
					width: 32px;
					height: 28px;
				}
			}
		}
		.list{
			margin: 0;
			padding: 0;
			list-style: none;
			li{
				display: block;
				& + li{
					margin-top: 20px;
				}
				&:nth-child(2n){
					.row{
						flex-direction: row-reverse;
					}
				}
				h3{
					small{
						font-size: 70%;
					}
				}
				.row{
					border: 3px solid #9bbac3;
					border-radius: 6px;
					background-color: #fff;
					align-items: center;
					.col{
						padding: 35px;
					}
					p{
						margin: 0;
					}
					.img{
						img{
							display: block;
							max-width: 100%;
							max-height: 100%;
							margin: 0 auto;
						}
					}
				}
			}
		}
	}
}