.studio{
	color: #313131;
	.notice_studio{
		background: #fafaf7;
		padding: 70px 0 80px;
		font-size: 20px;
		line-height: 50px;
		@include breakpoint(mobile){
			padding: 25px 0;
			font-size: 14px;
			line-height: 24px;
		}
		h2{
			color: #313131;
			margin-bottom: 30px;
			@include breakpoint(mobile){
				text-align: center;
			}
			span{
				position: relative;
				display: inline-block;
				vertical-align: top;
				&:after{
					content: "";
					position: absolute;
					bottom: -5px;
					left: 0;
					right: 0;
					height: 1px;
					background: #313131;
				}
			}
			.ico{
				width: 35px;
				height: 40px;
				margin: -4px 10px 0 0;
				@include breakpoint(mobile){
					width: 26px;
					height: 29px;
					margin: -4px 8px 0 0;
				}
			}
		}
		.row{
			padding: 0 25px;
			@include breakpoint(tablet){
				padding: 0;
			}
			.col{
				padding: 0 25px;
				@include breakpoint(tablet){
					width: 100%;
					padding: 15px 25px;
				}
				@include breakpoint(mobile){
					padding: 15px 0;
				}
				p{
					margin-bottom: 45px;
					@include breakpoint(mobile){
						margin-bottom: 20px;
					}
					&:last-child{
						margin-bottom: 0;
					}
				}
			}
		}
	}
	.studio-effect{
		padding: 70px 0 80px;
		@include breakpoint(mobile){
			padding: 40px 0;
		}
		.title{
			display: block;
			font-size: 28px;
			line-height: 52px;
			text-align: center;
			font-weight: normal;
			margin-bottom: 50px;
			@include breakpoint(mobile){
				font-size: 16px;
				line-height: 32px;
				margin-bottom: 30px;
			}
		}
		h2{
			color: #313131;
			text-align: center;
			margin: 0 0 30px;
			span{
				&:after{
					content: "";
					position: absolute;
					bottom: -5px;
					left: 0;
					right: 0;
					height: 1px;
					background: #313131;
				}
			}
			.ico{
				width: 37px;
				height: 36px;
				margin: -2px 6px 0 0;
				@include breakpoint(mobile){
					width: 32px;
					height: 31px;
				}
			}
		}
		.studio-list{
			margin: 0 0 45px;
			padding: 0;
			list-style: none;
			font-size: 0;
			line-height: 0;
			@include breakpoint(mobile){
				margin: 0 0 25px;
			}
			li{
				display: inline-block;
				vertical-align: top;
				width: 33.33333%;
				padding: 0 5px 10px;
				&:first-child{
					width: 100%;
					.img{
						padding-top: 25%;
					}
				}
				.img{
					padding-top: 76%;
				}
			}
		}
		.holder-info{
			padding: 0 50px;
			@include breakpoint(tablet){
				padding: 0;
			}
			strong{
				display: block;
				text-align: center;
				font-size: 55px;
				line-height: 60px;
				font-weight: normal;
				margin-bottom: 45px;
				@include breakpoint(mobile){
					font-size: 22px;
					line-height: 28px;
					margin-bottom: 25px;
				}
				span{
					display: block;
					font-size: 24px;
					line-height: 30px;
					margin-bottom: 10px;
					@include breakpoint(mobile){
						font-size: 14px;
						line-height: 22px;
					}
				}
			}
		}
	}
}
.effect-list{
	margin: 0 0 25px;
	padding: 0;
	list-style: none;
	font-size: 0;
	line-height: 0;
	text-align: center;
	li{
		display: inline-block;
		vertical-align: top;
		width: 33.33333%;
		max-width: 330px;
		padding: 0 15px 25px;
		font-size: 16px;
		line-height: 30px;
		@include breakpoint(tablet){
			font-size: 14px;
			line-height: 24px;
		}
		@include breakpoint(mobile){
			width: 100%;
		}
		.img{
			border-radius: 50%;
			overflow: hidden;
			padding-top: 100%;
			box-shadow: 0 0 5px 2px #b0b0b0;
			margin-bottom: 15px;
		}
		.descr{
			color: #313131;
		}
		h3{
			margin-bottom: 15px;
			text-align: center;
			color: #313131;
		}
		p{
			margin-bottom: 0;
		}
	}
}



.table-default{
	color: #7e6b5a;
	font-size: 16px;
	line-height: 30px;
	@include breakpoint(mobile){
		font-size: 12px;
		line-height: 18px;
	}
	table{
		width: 100%;
		tr{
			height: 60px;
			@include breakpoint(mobile){
				height: 35px;
			}
		}
		th{
			vertical-align: top;
			border: 1px solid #bab8b6;
			padding: 14px 8px;
			text-align: center;
			font-weight: normal;
			background-color: #fafaf7;
			@include breakpoint(mobile){
				width: 24%;
				padding: 8px 6px;
			}
		}
		td{
			vertical-align: top;
			border: 1px solid #bab8b6;
			padding: 14px 18px;
			@include breakpoint(mobile){
				padding: 8px 10px;
			}
		}
		a{
			color: #7e6b5a;
		}
	}
}