.visual-top{
	position: relative;
	padding-top: 35%;
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	@include breakpoint(mobile){
		padding-top: 94%;
	}
	> .container{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
	}
	strong{
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		padding: 0 15px;
		transform: translate(-50%, -50%);
		font-size: 36px;
		line-height: 58px;
		font-family: $KokoroMincho;
		color: $white;
		text-align: left;
		text-shadow:
			-1px -1px 0 #a56934,
			1px -1px 0 #a56934,
			-1px 1px 0 #a56934,
			1px 1px 0 #a56934,
			0 0 25px #000;
		@include breakpoint(mobile){
			font-size: 24px;
			line-height: 40px;
			text-align: left;
			text-shadow: 0 0 25px #000;
		}
	}
}
.visual{
	position: relative;
	padding-top: 18%;
	background-position: 50% 50%;
	@include breakpoint(mobile){
		padding-top: 0;
		height: 160px;
	}
	strong{
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		padding: 0 15px;
		transform: translate(-50%, -50%);
		font-size: 40px;
		line-height: 58px;
		font-family: $KokoroMincho;
		color: $white;
		text-align: center;
		text-shadow:
			-1px -1px 0 #a56934,
			1px -1px 0 #a56934,
			-1px 1px 0 #a56934,
			1px 1px 0 #a56934,
			0 0 25px #000;
		@include breakpoint(mobile){
			font-size: 24px;
			line-height: 40px;
			text-shadow: 0 0 25px #000;
		}
	}
}

.notice{
	background: #fafaf7;
	padding: 60px 0;
	@include breakpoint(mobile){
		padding: 40px 0;
	}
	.holder-info{
		padding: 0 55px;
		@include breakpoint(tablet){
			padding: 0;
		}
	}
	h2{
		@include breakpoint(mobile){
			text-align: center;
		}
		span{
			position: relative;
			display: inline-block;
			vertical-align: top;
			&:after{
				content: "";
				position: absolute;
				bottom: -5px;
				left: 0;
				right: 0;
				height: 1px;
				background: #313131;
			}
		}
		.ico{
			width: 35px;
			height: 40px;
			margin: -4px 10px 0 0;
			@include breakpoint(mobile){
				width: 26px;
				height: 29px;
			}
		}
	}
	.notice-content{
		position: relative;
		height: 230px;
		margin: 15px 0;
		@include breakpoint(mobile){
			height: 300px;
		}
	}
	.notice-list{
		margin: 0;
		padding: 0;
		list-style: none;
		li{
			display: block;
			font-size: 16px;
			line-height: 25px;
			padding: 17px 15px;
			border-bottom: 1px dashed #cfcab9;
			@include breakpoint(mobile){
				font-size: 12px;
				line-height: 20px;
				padding: 10px 5px;
			}
		}
		.date{
			float: left;
			margin-right: 30px;
			max-width: 115px;
			width: 100%;
			@include breakpoint(mobile){
				float: none;
				max-width: 100%;
				margin: 0 0 5px;
			}
		}
		p{
			overflow: hidden;
			margin: 0;
		}
	}
}

.mCSB_scrollTools{
	width: 10px;
}
.mCSB_scrollTools .mCSB_draggerRail{
	width: 10px;
	background-color: #f0f0ee;
	background-color: rgb(240, 240, 238);
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width: 10px;
	background-color: #d6d3cc;
	background-color: rgba(214, 211, 204, 0.9);
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background-color: #d6d3cc;
	background-color: rgba(214, 211, 204, 0.95);
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background-color: #d6d3cc;
	background-color: rgba(214, 211, 204, 1);
}

.contact-us{
	padding: 60px 0;
	@include breakpoint(mobile){
		padding: 35px 0;
	}
	.row{
		padding: 0 35px;
		flex-flow: row nowrap;
		@include breakpoint(tablet){
			padding: 0;
		}
		@include breakpoint(mobile){
			flex-flow: row wrap;
		}
	}
	.access-block{
		padding: 0 15px;
		@include breakpoint(tablet){
			padding: 0 10px;
		}
		@include breakpoint(mobile){
			padding: 30px 0 0;
			margin-top: 30px;
			border-top: 1px dashed #cfcab9;
		}
		.holder{
			h2{
				.ico{
					width: 19px;
					height: 30px;
					@include breakpoint(mobile){
						width: 15px;
						height: 22px;
					}
				}
			}
		}
		.map{
			display: block;
			width: 100%;
			height: 200px;
			margin-bottom: 10px;
		}
		.holder{
			padding-bottom: 15px;
			border-bottom: 1px dashed #cfcab9;
		}
	}
	.working-hours{
		padding-top: 15px;
		table{
			max-width: 100%;
			thead{
				th{
					width: 10%;
					&:first-child{
						width: 13%;
					}
				}
			}
		}
	}
}

.facebook-block{
	padding: 0 15px;
	min-width: 380px;
	width: 380px;
	max-width: 380px;
	box-sizing: content-box;
	margin: 0 auto;
	@include breakpoint(tablet){
		padding: 0 10px;
	}
	@include breakpoint(mobile){
		min-width: 100%;
		width: 100%;
		max-width: 100%;
		padding: 0;
	}
	h2{
		.ico{
			width: 35px;
			height: 36px;
			margin: -8px 10px 0 0;
			@include breakpoint(mobile){
				width: 23px;
				height: 24px;
				margin: -4px 6px 0 0;
			}
		}
	}
	iframe{
		display: block;
		width: 340px;
		height: 500px;
		margin: 0 auto;
	}
}

.about-us{
	background: #f1f7ed;
	padding: 60px 0;
	@include breakpoint(mobile){
		padding: 0;
	}
	.row{
		padding: 0 60px;
		@include breakpoint(tablet){
			padding: 0;
		}
		@include breakpoint(mobile){
			padding: 0 6px;
			flex-flow: row wrap;
			display: block;
		}
	}
	.col.left{
		padding-right: 50px;
		@include breakpoint(tablet){
			padding-right: 25px;
		}
		@include breakpoint(mobile){
			padding: 40px 0;
		}
		h2{
			@include breakpoint(mobile){
				text-align: center;
			}
			span{
				&:after{
					content: "";
					position: absolute;
					bottom: -5px;
					left: 0;
					right: 0;
					height: 1px;
					background: #313131;
				}
			}
			.ico{
				width: 32px;
				height: 31px;
				margin: -2px 8px 0 0;
				@include breakpoint(mobile){
					width: 27px;
					height: 26px;
				}
			}
		}
	}
	.col.right{
		padding-left: 50px;
		@include breakpoint(tablet){
			padding-left: 25px;
		}
		@include breakpoint(mobile){
			padding: 40px 16px;
			background: #e3efdb;
			margin: 0 -16px;
			width: auto;
			display: block;
		}
		h2{
			@include breakpoint(mobile){
				text-align: center;
			}
			span{
				&:after{
					content: "";
					position: absolute;
					bottom: -5px;
					left: 0;
					right: 0;
					height: 1px;
					background: #313131;
				}
			}
			.ico{
				width: 32px;
				height: 36px;
				margin: -6px 8px 0 0;
				@include breakpoint(mobile){
					width: 27px;
					height: 31px;
				}
			}
		}
	}
	ul{
		margin: 0 -15px;
		padding: 0;
		list-style: none;
		@include clearfix();
		@include breakpoint(mobile){
			margin: 0;
		}
		li{
			position: relative;
			float: left;
			width: 50%;
			padding: 15px;
			@include breakpoint(mobile){
				padding: 10px;
			}
		}
		.image{
			display: block;
			height: 150px;
			background-color: #000;
			box-shadow: inset 0 0 0 4px #fff, 0 0 5px 2px #b0b0b0;
			@include breakpoint(mobile){
				height: 110px;
				box-shadow: inset 0 0 0 2px #fff, 0 0 5px 2px #b0b0b0;
			}
		}
		.descr{
			position: absolute;
			bottom: -2px;
			right: 5px;
			width: 85px;
			height: 88px;
			background: url(#{$images}img-about-us-bg.png) no-repeat;
			font-size: 20px;
			line-height: 22px;
			color: $white;
			text-align: center;
			font-family: $KokoroMincho;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-flow: column;
			@include breakpoint(mobile){
				width: 63px;
				height: 66px;
				background-size: 100% auto;
				font-size: 14px;
				line-height: 18px;
			}
			small{
				font-size: 12px;
				line-height: 14px;
				@include breakpoint(mobile){
					font-size: 9px;
					line-height: 12px;
				}
			}
		}
	}
}

.voice-block{
	padding: 70px 0;
	@include breakpoint(mobile){
		padding: 40px 0;
	}
	.holder-info{
		padding: 0 55px;
		overflow: hidden;
		@include breakpoint(tablet){
			padding: 0;
		}
		@include breakpoint(mobile){
			font-size: 14px;
			line-height: 20px;
		}
	}
	.btn-default{
		@include breakpoint(mobile){
			display: block;
			margin: 0 auto;
		}
	}
	h2{
		@include breakpoint(mobile){
			text-align: center;
		}
		span{
			&:after{
				content: "";
				position: absolute;
				bottom: -5px;
				left: 0;
				right: 0;
				height: 1px;
				background: #313131;
			}
		}
		.ico{
			width: 43px;
			height: 32px;
			margin: -6px 8px 0 0;
			@include breakpoint(mobile){
				width: 30px;
				height: 22px;
				margin: -4px 4px 0 0;
			}
		}
	}
	.holder{
		float: left;
		margin: 25px 22px 0 0;
		@include breakpoint(mobile){
			float: none;
			margin: 0 0 25px;
		}
		p{
			@include breakpoint(mobile){
				text-align: center;
			}
		}
	}
	.voice-content{
		position: relative;
		overflow: hidden;
		border: 1px solid #d7d5d5;
		padding: 10px;
		height: 260px;
		margin: 0;
	}
	.voice-list{
		margin: 0;
		padding: 0;
		list-style: none;
		> li{
			display: block;
			font-size: 16px;
			line-height: 25px;
			padding: 17px 15px;
			border-bottom: 1px dashed #cfcab9;
			@include breakpoint(mobile){
				font-size: 12px;
				line-height: 20px;
				padding: 10px 0;
			}
		}
		.head{
			overflow: hidden;
			> span{
				float: left;
				margin-right: 5px;
			}
		}
		.date{
			float: left;
			margin-right: 5px;
		}
		p{
			margin: 0;
		}
	}
}
.rating-list{
	float: left;
	margin: 0;
	padding: 4px 0;
	list-style: none;
	overflow: hidden;
	@include breakpoint(mobile){
		padding: 3px 0;
	}
	li{
		float: left;
		width: 15px;
		height: 15px;
		text-indent: -9999px;
		@include breakpoint(mobile){
			width: 12px;
			height: 12px;
		}
		& + li{
			margin-left: 2px;
		}
	}
	.check{
		background: url(#{$images}rating.png) no-repeat;
		background-size: 100% auto;
		background-position: 0 -30px;
		@include breakpoint(mobile){
			background-position: 0 -24px;
		}
	}
	.not-check{
		background: url(#{$images}rating.png) no-repeat;
		background-size: 100% auto;
		background-position: 0 0;
	}
}

.studio-block{
	padding: 65px 0;
	background: #eef5f7;
	@include breakpoint(mobile){
		padding: 40px 0;
	}
	.holder-info{
		padding: 0 55px;
		overflow: hidden;
		@include breakpoint(tablet){
			padding: 0;
		}
		@include breakpoint(mobile){
			font-size: 14px;
			line-height: 20px;
		}
		> p{
			@include breakpoint(mobile){
				text-align: center;
			}
		}
	}
	h2{
		text-align: center;
		span{
			&:after{
				content: "";
				position: absolute;
				bottom: -5px;
				left: 0;
				right: 0;
				height: 1px;
				background: #313131;
			}
		}
		.ico{
			width: 37px;
			height: 36px;
			margin: -2px 6px 0 0;
			@include breakpoint(mobile){
				width: 32px;
				height: 31px;
			}
		}
	}
	.title-text{
		text-align: center;
	}
	.btn-default{
		display: block;
		margin: 0 auto;
	}
	.studio-list{
		margin: 30px -15px 0;
		padding: 0;
		list-style: none;
		font-size: 0;
		line-height: 0;
		@include breakpoint(mobile){
			margin: 15px 0 0;
		}
		li{
			display: inline-block;
			vertical-align: top;
			width: 25%;
			padding: 15px;
			@include breakpoint(mobile){
				padding: 10px;
				width: 50%;
			}
			.img{
				width: 100%;
				height: 165px;
				background-color: #b0b0b0;
				box-shadow: 0 0 5px 2px #b0b0b0;
				@include breakpoint(mobile){
					height: 110px;
				}
			}
		}
	}
}