.voice{
	padding: 70px 0;
	@include breakpoint(mobile){
		padding: 35px 0;
	}
	.voice-list{
		margin: 0;
		padding: 0;
		list-style: none;
		li{
			& + li{
				margin-top: 50px;
				@include breakpoint(mobile){
					margin-top: 30px;
				}
			}
		}
		.holder-info{
			position: relative;
		}
		.head{
			background: $cork;
			padding: 20px;
			@include breakpoint(mobile){
				padding: 10px;
			}
			dl{
				overflow: hidden;
			}
			dt{
				float: left;
				padding-right: 18px;
				position: relative;
				@include breakpoint(mobile){
					float: none;
					padding: 0;
				}
				&:before{
					content: "";
					position: absolute;
					top: 3px;
					right: 0;
					width: 1px;
					height: 8px;
					background: #d8cfc1;
					@include breakpoint(mobile){
						display: none;
					}
				}
				&:after{
					content: "";
					position: absolute;
					bottom: 3px;
					right: 0;
					width: 1px;
					height: 8px;
					background: #d8cfc1;
					@include breakpoint(mobile){
						display: none;
					}
				}
			}
			dd{
				overflow: hidden;
			}
			.date{
				display: inline-block;
				vertical-align: top;
				font-size: 20px;
				line-height: 28px;
				color: #fff;
				@include breakpoint(mobile){
					font-size: 12px;
					line-height: 20px;
				}
			}
			strong{
				display: inline-block;
				vertical-align: top;
				font-size: 24px;
				line-height: 28px;
				padding: 0 18px;
				font-weight: normal;
				color: #fff;
				@include breakpoint(mobile){
					display: block;
					font-size: 16px;
					line-height: 20px;
					padding: 0;
				}
			}
		}
		.descr{
			border: 1px solid #e6e6e6;
			padding: 30px;
			font-size: 16px;
			line-height: 28px;
			overflow: hidden;
			@include breakpoint(mobile){
				padding: 10px;
				font-size: 12px;
				line-height: 22px;
			}
		}
		.img{
			float: left;
			margin-right: 30px;
			border: 1px solid #e6e6e6;
			background-color: #f4f4f4;
			max-width: 300px;
			width: 100%;
			height: 300px;
			@include breakpoint(mobile){
				float: none;
				margin: 0 auto 15px;
				height: 250px;
			}
		}
		.info{
			overflow: hidden;
			p{
				margin: 0;
			}
		}
	}
}


.pagination-holder{
	text-align: center;
	font-size: 0;
	line-height: 0;
}
.pagination{
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 45px 0 4px;
	font-size: 0;
	line-height: 0;
	text-align: center;
	li{
		float: none;
		display: inline-block;
		vertical-align: top;
		font-size: 16px;
		line-height: 20px;
		padding: 0 5px 8px;
		@include breakpoint(mobile){
			font-size: 14px;
			line-height: 18px;
			padding: 0 2px 4px;
		}
		> a,
		> span{
			position: relative;
			min-width: 30px;
			padding: 4px 5px;
			float: none;
			display: block;
			border-radius: 0;
			line-height: 1.25;
			text-decoration: none;
			color: #fff;
			background-color: $cork;
			border: 1px solid $cork;
			margin-left: 0;
			transition: all .3s;
			@include breakpoint(mobile){
				min-width: 30px;
				padding: 5px;
			}
			&:hover{
				color: #fff;
				background: $cork;
				border-color: $cork;
				opacity: 0.9;
			}
		}
		span{
			border: none;
			background: none;
			padding: 11px 10px 6px;
			min-width: auto;
			@include breakpoint(mobile){
				padding: 7px 2px 5px;
			}
		}
		&.active{
			a{
				z-index: 3;
				color: #fff;
				background: $cork;
				border-color: $cork;
				cursor: default;
				opacity: 0.5;
			}
		}
		.arrow{
			font-size: 0;
			line-height: 0;
			border-radius: 0;
			width: 30px;
			height: 30px;
			@include breakpoint(mobile){
				width: 30px;
				height: 30px;
			}
			&.disabled{
				cursor: default;
				opacity: 0.5;
			}
		}
		.prev{
			&:before{
				content: "";
				display: block;
				position: absolute;
				top: 50%;
				left: 54%;
				border-bottom: 2px solid transparent;
				border-right: 2px solid transparent;
				width: 8px;
				height: 8px;
				margin: auto;
				border-color: #fff;
				-webkit-transform: translate(-46%, -50%) rotate(135deg);
				transform: translate(-46%, -50%) rotate(135deg);
				@include breakpoint(mobile){
					width: 6px;
					height: 6px;
				}
			}
		}
		.next{
			&:before{
				content: "";
				display: block;
				position: absolute;
				top: 50%;
				left: 48%;
				border-top: 2px solid transparent;
				border-left: 2px solid transparent;
				width: 8px;
				height: 8px;
				margin: auto;
				border-color: #fff;
				-webkit-transform: translate(-52%, -50%) rotate(135deg);
				transform: translate(-52%, -50%) rotate(135deg);
				@include breakpoint(mobile){
					width: 6px;
					height: 6px;
				}
			}
		}
	}
}