/* buttons */
.btn{
	position: relative;
	display: inline-block;
	vertical-align: top;
	border: 1px solid transparent;
	text-align: center;
	border-radius: $btn-border-radius-base;
	font-size: $btn-font-size;
	line-height: $btn-line-height;
	font-family: $KokoroMincho;
	padding: 15px 15px 19px;
	color: $btn-color;
	width: 100%;
	max-width: 250px;
	cursor: pointer;
	transition: all .4s ease-out;
	&.active:focus,
	&.active:hover,
	&:focus,
	&:active,
	&:hover{
		box-shadow: none;
		outline: none;
	}
	@include breakpoint(mobile){
		font-size: 18px;
		line-height: 22px;
	}
}
.btn-default{
	background: $cork;
	border: 1px solid $cork;
	color: $white;
	padding: 15px 30px 19px 15px;
	@include breakpoint(mobile){
		padding: 6px 30px 10px 15px;
	}
	&:after{
		content: "";
		position: absolute;
		top: 50%;
		right: 10px;
		border-top: 2px solid transparent;
		border-left: 2px solid transparent;
		width: 12px;
		height: 12px;
		margin: auto;
		border-color: #fff;
		transform: translate(0, -50%) rotate(135deg);
		transition: all .4s ease-out;
	}
	&.active:focus,
	&.active:hover,
	&:focus,
	&:active,
	&:hover{
		background: #5f3921;
		background: #fff;
		border: 1px solid #1d1612;
		color: $cork;
		box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
		&:after{
			border-color: $cork;
			transform: translate(-2px, -50%) rotate(135deg);
		}
	}
}
/*end btn*/