// mixins
@mixin box-sizing{
	box-sizing: border-box;
}
@mixin clearfix {
	&:after {
		content: '';
		display: block;
		clear: both;
	}
}
@mixin breakpoint($class, $screen: no) {
	@if $class == mobile {
		@media screen and (max-width: $mobile),
		screen and (orientation: landscape) and (max-width: $mobile),
		screen and (orientation: portrait ) and (max-width: $mobile) { @content; }
	}
	@else if $class == mobile-xs {
		@media screen and (max-width: $mobile-xs) { @content; }
	}
	@else if $class == desktop-md {
		@media screen and (max-width: $desktop-md) { @content; }
	}
	@else if $class == tablet {
		@media screen and (max-width: $tablet) { @content; }
	}
	@else if $class == nomobile {
		@media screen and (min-width: $mobile-gt) { @content; }
	}
	@else if $class == gt-tablet {
		@media screen and (min-width: $tablet + 1) { @content; }
	}
	@else {
		@if $screen == landscape {
			@media screen and (orientation: landscape) and (max-width: $class) { @content; }
		}
		@else {
			@media screen and (max-width: $class) { @content; }
		}
	}
}