/* fonts */
@font-face {
	font-family:'HiraKakuPro';
	src: url('#{$fonts}HiraKakuPro-W3.otf') format('opentype');
	font-weight: normal;
	ont-style: normal;
	font-stretch: normal;
}
@font-face {
	font-family:'KokoroMinchoutai';
	src: url('#{$fonts}KokoroMinchoutai.otf') format('opentype');
	font-weight: normal;
	ont-style: normal;
	font-stretch: normal;
}

/* reset css */
*{-webkit-text-size-adjust:none}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background:transparent;
}
html{
	height:100%;
	background: $white;
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
body{
	min-height:100%;
	font-family: $font-family-base;
	position:relative;
	background: $body-bg;
	color: $base-color;
	font-size: $font-size-base;
	line-height: $line-height-base;
}
input,
textarea,
select{
	color: $base-color;
	vertical-align: middle;
	font: 100% $font-family-base;
}
.form-control{
	-webkit-appearance: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display: block;}
ul{list-style: none;}
blockquote, q{quotes: none;}
a{
	color: $link-color;
	text-decoration: none;
	cursor:pointer;
	vertical-align:baseline;
	-webkit-tap-highlight-color:rgba(255,255,255,0.4);
	-webkit-transition: background $time-animation;
	-o-transition: background $time-animation;
	transition: background $time-animation;
}
a:hover{
	text-decoration: none;
}
a:hover img{
	-moz-opacity: $hover-opacity;
	opacity: $hover-opacity;
}
table{border-collapse: collapse;}
*,
*:before,
*:after{
	@include box-sizing();
}
/* styles */
#wrapper{
	position: relative;
	max-width: 100%;
	min-height: 100vh;
	overflow: hidden;
	padding-top: 100px;
	@include breakpoint(mobile){
		padding-top: 115px;
	}
}
.container{
	padding: 0 $grid-gutter-width;
	margin: 0 auto;
	max-width: $container-large-desktop;
	box-sizing: content-box;
	@include clearfix();
	@include breakpoint(mobile){
		padding: 0 10px;
	}
}
.tel{
	pointer-events: none;
	@include breakpoint(mobile){
		pointer-events: auto;
	}
}
.row{
	@include clearfix();
}
.mb{
	display: none;
}
.pc{
	display: block;
}
/* Tablet */
@media only screen and (max-width: 768px){
	.mb{
		display: block !important;
	}
	.pc{
		display: none !important;
	}
}
/* Smartphone */
@media only screen and (min-width: 768px){
	.mb{
		display: none !important;;
	}
	.pc{
		display: block !important;
	}
}
.hidden{
	display: none !important;
}
.bg{
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: 50% 50%;
}

/*typography*/
h1{
	font-size: $font-size-h1;
	line-height: 1.25;
	font-family: $font-family-base;
	font-weight: 700;
	color: $cork;
	text-align: center;
	margin: 0;
	@include breakpoint(mobile){}
}
h2{
	position: relative;
	font-size: $font-size-h2;
	line-height: 1.25;
	font-family: $KokoroMincho;
	font-weight: 400;
	color: $cork;
	text-align: left;
	margin: 0 0 18px;
	@include breakpoint(mobile){
		font-size: 22px;
		margin-bottom: 18px;
	}
	@include breakpoint(mobile-xs){
		font-size: 18px;
	}
	span{
		position: relative;
		display: inline-block;
		vertical-align: top;
	}
	.ico{
		display: inline-block;
		vertical-align: middle;
		width: auto;
		height: auto;
		margin: -6px 10px 0 0;
		@include breakpoint(mobile){
			margin: -6px 6px 0 0;
		}
		img{
			display: block;
			max-width: 100%;
			max-height: 100%;
			opacity: 1;
		}
	}
}
h3{
	position: relative;
	font-size: $font-size-h3;
	line-height: 1.25;
	font-family: $KokoroMincho;
	font-weight: 400;
	color: $cork;
	text-align: left;
	margin: 0 0 15px;
	@include breakpoint(mobile){
		font-size: 18px;
		margin-bottom: 10px;
	}
}
h4{
	font-size: $font-size-h4;
	line-height: 1.25;
	font-family: $font-family-base;
	font-weight: 400;
	color: $cork;
	text-align: left;
	margin: 0 0 25px;
	@include breakpoint(mobile){}
}
p{margin: $paragraph-spacing;}
/*end typography*/

.row{
	position: relative;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
}
.row > .col{
	position: relative;
	width: 50%;
	@include breakpoint(mobile){
		width: 100%;
	}
}
.row > .col.left{
	float: left;
	padding-right: 15px;
	@include breakpoint(mobile){
		float: none;
		padding: 0 0 15px;
	}
}
.row > .col.right{
	float: right;
	padding-left: 15px;
	@include breakpoint(mobile){
		float: none;
		padding: 15px 0 0;
	}
}

/* styles end */