// vars
$fonts: '../fonts/';
$images: '../images/';

// fonts
$HiraKakuPro: 'HiraKakuPro';
$KokoroMincho: 'KokoroMinchoutai';

// font settings
$grid-gutter-width: 15px;
$container-large-desktop: 1080px;
$desktop-md: 1200px;
$tablet: 991px;
$mobile: 768px;
$mobile-xs: 320px;

$font-family-base: $HiraKakuPro;
$font-size-base: 16px;
$line-height-base: 1.25;
$font-size-h1: 30px;
$font-size-h2: 28px;
$font-size-h3: 24px;
$font-size-h4: 18px;

$paragraph-spacing: 0 0 15px;

$hover-opacity: 0.8;
$time-animation: 0.3s;

// colors
$white: #fff;
$black: #000;
$gray: #333;

$cork: #59493F;
$green: #4fa655;

$base-color: $cork;
$body-bg: $white;

$link-color: $black;

$btn-color: $white;
$btn-border-radius-base: 5px;
$btn-font-size: 20px;
$btn-line-height: 24px;
$btn-min-width: 205px;